---
# No systemd (journal) in FreeBSD
- name: Cleaning up Linux machine...
  ansible.builtin.shell: |
    {{ 'setenv HISTFILE "/dev/null"' if ansible_system == 'FreeBSD' else 'export HISTFILE=/dev/null' }}
    rm -f /home/*/.ssh/known_hosts
    rm -f /home/*/.sudo_as_admin_successful
    rm -f /root/.bconsole_history
    rm -f /root/.mysql_history
    rm -f /root/.nano_history
    rm -f /root/.ssh/known_hosts
    rm -f /root/.vim/*
    rm -f /root/.viminfo
    rm -f /root/.vnc/*.log
    rm -f /root/selfconf
    rm -f /var/log/*.gz
    rm -f /var/log/alternatives*
    rm -f /var/log/apache2/*
    rm -f /var/log/apt/*
    rm -f /var/log/audit/*
    rm -f /var/log/auth*
    rm -f /var/log/boot
    rm -f /var/log/clamd.log
    rm -f /var/log/ConsoleKit/*
    rm -f /var/log/cups/*
    rm -f /var/log/debug*
    rm -f /var/log/dmesg*
    rm -f /var/log/dpkg*
    rm -f /var/log/ejabberd/*
    rm -f /var/log/fsck/*
    rm -f /var/log/kern*
    rm -f /var/log/landscape/*
    rm -f /var/log/lightdm/*
    rm -f /var/log/mail*
    rm -f /var/log/messages*
    rm -f /var/log/mysql*
    rm -f /var/log/mysql/*
    rm -f /var/log/nginx/*
    rm -f /var/log/ntpd.log
    rm -f /var/log/ntpstats/*
    rm -f /var/log/samba/*
    rm -f /var/log/syslog*
    rm -f /var/log/tomcat5/*
    rm -f /var/log/tomcat6/*
    rm -f /var/log/tomcat7/*
    rm -f /var/log/udev*
    rm -f /var/log/upstart/*
    rm -f /var/log/xferlog*
    rm -rf /home/*/.cache/*
    rm -rf /home/gt/.bash_history
    rm -rf /var/log/installer/*
    {{ 'service apache2 restart || true' if ansible_distribution | default('') != 'Alpine' else '' }}
    {{ 'if [ -d "/run/log/journal" ]; then find /run/log/journal -name "*.journal" | xargs rm -f; fi' if ansible_system | default('') != 'FreeBSD' }}
  args:
    executable: "/bin/{{  'tcsh' if ansible_system | default('') == 'FreeBSD' else 'sh' if ansible_distribution | default('') == 'Alpine' else 'bash' }}"
  changed_when: true

# tcsh automatically writes current history in HISTFILE
- name: Removing Linux bash history...
  ansible.builtin.shell: |
    {{ 'setenv HISTFILE "/dev/null"' if ansible_system == 'FreeBSD' else 'export HISTFILE=/dev/null' }}
    rm -f /home/*/.bash_history
    rm -f /root/.bash_history
    history -c && {{ 'history -w && ' if ansible_system != 'FreeBSD' }}cat /dev/null > /root/.bash_history
  args:
    executable: "/bin/{{  'tcsh' if ansible_system | default('') == 'FreeBSD' else 'sh' if ansible_distribution | default('') == 'Alpine' else 'bash' }}"
  changed_when: true
  when: cleanup_remove_bash_history

- name: Clearing journalctl...
  ansible.builtin.command: journalctl --rotate --vacuum-time=1s
  changed_when: true
  when: ansible_distribution | default('') != 'Alpine'

- name: Setting reboot_on_finalize to true... # This will reboot the VM during nova.core.finalize role
  ansible.builtin.set_fact:
    reboot_on_finalize: true
  when: cleanup_post_reboot
