---
- name: Including Windows cleanup tasks...
  ansible.builtin.include_tasks: windows.yml
  when: ansible_facts.system | default('') == "Win32NT"

- name: Including Linux cleanup tasks...
  ansible.builtin.include_tasks: linux.yml
  when:
    - ansible_facts.system | default('') == "Linux"
    - ansible_network_os | default('') != 'vyos.vyos.vyos'

- name: Including VyOS cleanup tasks...
  ansible.builtin.include_tasks: vyos.yml
  when: ansible_network_os | default('') == 'vyos.vyos.vyos'
