---
############
# Accounts #
############

# Set to false to skip saving accounts list passwords to Vault
# This can be useful when saving pre_deploy_secrets only
secrets_to_vault_account_passwords: true

# Vault key name when saving account passwords to Vault to make sure it's unique across the inventory.
account_key_name: "{{ inventory_hostname }}_{{ sct.username }}"

# List of admin accounts to save to Vault usually defined in group_vars/all.yml
admin_accounts: []
# List of user accounts to save to Vault usually defined in group_vars/all.yml
user_accounts: []
# List of domain user accounts to save to Vault usually defined in host var for the domain controller
domain_user_accounts: []

###########
# Secrets #
###########

# List of key: value to pass to this role to save to Vault
# Refer to the README.md for examples
secrets: []

# List of key: value to pass to this role to save to Vault before deployment starts
# This is useful for secrets that are needed in a very early stage of the deployment
# Refer to the README.md for examples
secrets_to_vault_pre_deploy_secrets: []

# When the value in the accounts, secrets or secrets_to_vault_pre_deploy_secrets list is not defined.
# The following variables are used to generate a random secret.
secrets_to_vault_autogenerated_key_secret:
  "{{ lookup('community.general.random_string', min_lower=1, min_upper=1, min_numeric=1, length=12, special=false, ignore_similar_chars=true,
  similar_chars=(sct.username | default(sct.key) | lower + sct.username | default(sct.key) | upper)) }}"

# Set to true if you want to overwrite existing secret otherwise the task will skip saving the secret
# autogenerated_secret can also be set per item in the secrets list
# autogenerated_secret can also be set per item in the secrets_to_vault_pre_deploy_secrets, secrets or accounts list
autogenerated_secret: false

# Combine the above variables to create the full path to the secrets based on Vault's API.
secrets_vault_data_fullpath:
  "{{ secrets_vault_address }}/v1/{{ sct.secrets_vault_engine_path | default(secrets_vault_engine_path) }}/data/{{
  sct.secrets_vault_secrets_path | default(secrets_vault_secrets_path) }}"
secrets_vault_metadata_fullpath:
  "{{ secrets_vault_address }}/v1/{{ sct.secrets_vault_engine_path | default(secrets_vault_engine_path) }}/metadata/{{
  sct.secrets_vault_secrets_path | default(secrets_vault_secrets_path) }}"

# The following variables are used to authenticate to Vault.
# These credentials come from Ansible Vault
vault_username: "{{ project_deployer_username | default(deployer_username) }}"
vault_password: "{{ project_deployer_password | default(deployer_password) }}"
