---
- name: Including Windows update tasks...
  ansible.builtin.include_tasks: windows.yml
  when: ansible_facts.os_family | default('') == "Windows"

- name: Including Debian family update tasks...
  ansible.builtin.include_tasks: debian_family.yml
  when:
    - ansible_facts.os_family | default('') == "Debian"
    - ansible_network_os | default('') != "vyos.vyos.vyos"

- name: Including Archlinux update tasks...
  ansible.builtin.include_tasks: archlinux_family.yml
  when: ansible_facts.os_family | default('') == "Archlinux"

- name: Including RedHat family update tasks...
  ansible.builtin.include_tasks: redhat_family.yml
  when: ansible_facts.os_family | default('') == "RedHat"

- name: Including Alpine update tasks...
  ansible.builtin.include_tasks: alpine.yml
  when: ansible_facts.os_family | default('') == "Alpine"

- name: Including FreeBSD update tasks...
  ansible.builtin.include_tasks: freebsd.yml
  when: ansible_facts.system | default('') == "FreeBSD"

- name: Including MacOS update tasks...
  ansible.builtin.include_tasks: macos.yml
  when: ansible_facts.system | default('') == "Darwin"
    or ansible_custom_facts.system | default('') == "Darwin"

- name: Including RouterOS update tasks...
  ansible.builtin.include_tasks: routeros.yml
  when: ansible_network_os | default('') == "community.routeros.routeros"
