---
- name: Reconfiguring existing VM tasks...
  delegate_to: localhost
  become: false
  block:
    - name: Reconfiguring CPU and RAM values...
      block:
        - name: Trying to configure {{ custom_vm_name | default(vm_name) }} CPU & RAM values when it's powered on...
          block:
            - name: Reconfiguring {{ custom_vm_name | default(vm_name) }} hardware resources...
              community.vmware.vmware_guest:
                name: "{{ custom_vm_name | default(vm_name) }}"
                hardware:
                  num_cpus: "{{ omit if not hardware_cpu else hardware_cpu }}"
                  num_cpu_cores_per_socket: "{{ omit if not hardware_cpu else hardware_cpu }}"
                  memory_mb: "{{ omit if not hardware_ram else (hardware_ram * 1024) }}"
                  memory_reservation_lock: "{{ machine_operations_vsphere_memory_reservation_lock }}"
                  mem_reservation:
                    "{{ 0 if machine_operations_vsphere_memory_reservation_gb == {}
                    else omit if machine_operations_vsphere_memory_reservation_lock
                    else machine_operations_vsphere_memory_reservation_gb * 1024 }}"

          # There are too many edge cases when the CPU and RAM values reconfiguration might fail
          # Most of them will work when the VM is powered off
          rescue:
            - name: Including nova.core.powerstate role...
              ansible.builtin.include_role:
                name: nova.core.powerstate
              vars:
                shutdown: true

            - name: Trying to configure {{ custom_vm_name | default(vm_name) }} CPU & RAM values when it's powered off...
              block:
                - name: Reconfiguring {{ custom_vm_name | default(vm_name) }} hardware resources...
                  community.vmware.vmware_guest:
                    name: "{{ custom_vm_name | default(vm_name) }}"
                    hardware:
                      num_cpus: "{{ omit if not hardware_cpu else hardware_cpu }}"
                      num_cpu_cores_per_socket: "{{ omit if not hardware_cpu else hardware_cpu }}"
                      memory_mb: "{{ omit if not hardware_ram else (hardware_ram * 1024) }}"
                      memory_reservation_lock: "{{ machine_operations_vsphere_memory_reservation_lock }}"
                      mem_reservation:
                        "{{ 0 if machine_operations_vsphere_memory_reservation_gb == {}
                        else omit if machine_operations_vsphere_memory_reservation_lock
                        else machine_operations_vsphere_memory_reservation_gb * 1024 }}"

                - name: Including nova.core.powerstate role...
                  ansible.builtin.include_role:
                    name: nova.core.powerstate
                  vars:
                    poweron: true

              # Powering the VM back on if this block also fails
              rescue:
                - name: Including nova.core.powerstate role...
                  ansible.builtin.include_role:
                    name: nova.core.powerstate
                  vars:
                    poweron: true

                - name: Unable to reconfigure CPU or RAM for {{ custom_vm_name | default(vm_name) }}...
                  ansible.builtin.fail:
                    msg: |
                      Unable to reconfigure CPU or RAM for {{ custom_vm_name | default(vm_name) }}
                      Please check the errors above

    - name: Expanding OS disk size...
      when: os_disk_size_gb is defined or hardware_primary_disk_size is defined
      block:
        - name: Getting {{ custom_vm_name | default(vm_name) }} VM disk info...
          community.vmware.vmware_guest_info:
            datacenter: "{{ datacenter }}"
            name: "{{ custom_vm_name | default(vm_name) }}"
            folder: "{{ folder }}"
            schema: vsphere
            properties:
              - config.hardware.device
          register: linked_clone_info
          retries: 6
          delay: 5

        - name: Checking if {{ custom_vm_name | default(vm_name) }} has snapshots...
          community.vmware.vmware_guest_snapshot_info:
            datacenter: "{{ datacenter }}"
            name: "{{ custom_vm_name | default(vm_name) }}"
            folder: "{{ folder }}"
          register: snapshot_info

        - name: Checking if disk is expandable...
          ansible.builtin.set_fact:
            machine_operations_disk_expandable: true
          when:
            - linked_clone_info.instance.config.hardware.device | selectattr('_vimtype', 'eq', 'vim.vm.device.VirtualDisk')
              | map(attribute='backing.deltaDiskFormat') | first == none # This means that the machine is not a Linked Clone
            - snapshot_info.guest_snapshots == {} # No snapshots present, otherwise disk expansion is not possible

        - name: Skipping disk size expansion for {{ custom_vm_name | default(vm_name) }}...
          ansible.builtin.debug:
            msg: |
              SKIPPING DISK SIZE EXPANSION FOR {{ custom_vm_name | default(vm_name) }} BECAUSE
              IT HAS SNAPSHOTS OR IS A LINKED CLONE!
          when: not machine_operations_disk_expandable | default(false)

        - name: Expanding OS disk...
          when: machine_operations_disk_expandable | default(false)
          block:
            - name: Getting {{ custom_vm_name | default(vm_name) }} VM disk info...
              community.vmware.vmware_guest_disk_info:
                name: "{{ custom_vm_name | default(vm_name) }}"
                folder: "{{ folder }}"
                datacenter: "{{ datacenter }}"
              register: vm_disk_info

            - name: Setting OS disk size...
              ansible.builtin.set_fact:
                os_disk_size: "{{ (hardware_primary_disk_size | default(os_disk_size_gb)) * 1024 }}"

            - name: Setting current disk size as fact...
              ansible.builtin.set_fact:
                current_os_disk_size: "{{ (vm_disk_info.guest_disk_info | dict2items | first).value.capacity_in_kb / 1024 | int }}"

            - name:
                Setting {{ custom_vm_name | default(vm_name) }} disk size to {{
                (os_disk_size if os_disk_size is defined else 1 | int / 1024) | int }}GB...
              community.vmware.vmware_guest:
                name: "{{ custom_vm_name | default(vm_name) }}"
                esxi_hostname: "{{ omit if not machine_operations_esxi_hostname else machine_operations_esxi_hostname }}"
                cluster: "{{ omit if machine_operations_esxi_hostname else cluster }}"
                disk: "{{ machine_operations_vsphere_disk_config }}"
              when: current_os_disk_size | int < os_disk_size | int
