---
- name: Removing {{ custom_vm_name | default(vm_name) }} VM...
  when: vcenter_vm_info.value != [] # Only remove if the VM exists
  block:
    - name: NO UNDEPLOY OR IMMUTABLE SET
      ansible.builtin.fail:
        msg: "{{ inventory_hostname }} HAS no_undeploy or immutable SET AND WON'T BE REMOVED"
      when: immutable or no_undeploy or 'immutable' in group_names or 'no_undeploy' in group_names or 'custom_no_undeploy' in group_names

    - name: Deleting {{ custom_vm_name | default(vm_name) }} VM...
      community.vmware.vmware_guest:
        datacenter: "{{ datacenter }}"
        name: "{{ custom_vm_name | default(vm_name) }}"
        esxi_hostname: "{{ omit if not machine_operations_esxi_hostname else machine_operations_esxi_hostname }}"
        cluster: "{{ omit if machine_operations_esxi_hostname else cluster }}"
        resource_pool: "{{ resource_pool | default(omit) }}"
        folder: "{{ folder }}"
        state: absent
        force: true
      delegate_to: localhost
      become: false

- name: Stopping play...
  ansible.builtin.meta: end_host
  when: deploy_mode == 'undeploy'
