---
###################
# Global defaults #
###################

# These are defined here because it's the first role loaded and these defaults will then be used for subsequent roles
# It's better to define different lookups (vault,etc.) in this role because then they'll be loaded only once

template: false # Set to yes to include the template role in start.yml
customization_context: host # Default value, Providentia also can give out type: container
just_create: false # Stops play after vm clone
fresh_deploy: false # Set to true to run the deploy like the first time
role_only: false # Includes customization role and then stops, great for developing roles
role_only_wp: false # Run the deploy starting from customization_pre_vm_role
just_clone: false # Runs the deploy until the end of os_configuration, creates a snapshot and the stops
datacenter_location: {} # Required when deploying to vSphere
main_id: "{{ inventory_hostname }}" # For when using local inventory, main_id is a Providentia specific variable
save_secrets_to_vault: false # Set to true to save accounts to vault, required a running HashiCorp Vault server with LDAP auth enabled
gt_username: gt # Default non-root/Administrator username for deployment
deploy_vars_post_roles: [] # List of roles to include after credentials facts have been set
immutable: false # Set to true to stop running any role on the host or group

# Defaulting to ansible_password when password is required for sudo
# If no ansible_password is set, defaulting to no_password_set string to avoid Missing sudo password that comes with Ansible 2.19+
# This is required when some other sudo method instead of password is used
ansible_become_password: "{{ ansible_password | default('no_password_set') }}"

# Networking
# Defaults when using Providentia or interfaces list that is based on Providentia API output
# To make sure these values can be used as hostvar lookups they also need to be defined in projects group_vars all.yml file

connection_address: "{{ interfaces | nova.core.addresses('connection_address') | first | ansible.utils.ipaddr('address') }}"
connection_mode: "{{ interfaces | nova.core.addresses('connection_mode') | first }}"
egress_network_info: "{{ interfaces | selectattr('egress', 'equalto', true) | first | default([]) }}"
connection_network_info: "{{ interfaces | selectattr('connection', 'equalto', true) | first | default([]) }}"

# IPv4
connection_nic_ipv4: "{{ interfaces | nova.core.addresses('connection_nic_ipv4') | first | ansible.utils.ipaddr('address') }}"
connection_nic_ipv4_with_prefix: "{{ interfaces | nova.core.addresses('connection_nic_ipv4') | first }}"
connection_nic_ipv4_gw: "{{ interfaces | nova.core.addresses('connection_nic_ipv4_gw') | first | ansible.utils.ipaddr('network') }}"
connection_nic_ipv4_network: "{{ interfaces | nova.core.addresses('connection_nic_ipv4') | first | ansible.utils.ipaddr('network/prefix') }}"

connection_nic_vip_ipv4: "{{ interfaces | nova.core.addresses('connection_nic_vip_ipv4') | first | ansible.utils.ipaddr('address') }}"
connection_nic_vip_ipv4_with_prefix: "{{ interfaces | nova.core.addresses('connection_nic_vip_ipv4') | first }}"
connection_nic_vip_ipv4_network: "{{ interfaces | nova.core.addresses('connection_nic_vip_ipv4') | first | ansible.utils.ipaddr('network/prefix') }}"

egress_nic_ipv4: "{{ interfaces | nova.core.addresses('egress_nic_ipv4') | first | ansible.utils.ipaddr('address') }}"
egress_nic_ipv4_with_prefix: "{{ interfaces | nova.core.addresses('egress_nic_ipv4') | first }}"
egress_nic_ipv4_gw: "{{ interfaces | nova.core.addresses('egress_nic_ipv4_gw') | first | ansible.utils.ipaddr('network') }}"
egress_nic_ipv4_network: "{{ interfaces | nova.core.addresses('egress_nic_ipv4') | first | ansible.utils.ipaddr('network/prefix') }}"

egress_nic_vip_ipv4: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv4') | first | ansible.utils.ipaddr('address') }}"
egress_nic_vip_ipv4_with_prefix: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv4') | first }}"
egress_nic_vip_ipv4_network: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv4') | first | ansible.utils.ipaddr('network/prefix') }}"

# IPv6
connection_nic_ipv6: "{{ interfaces | nova.core.addresses('connection_nic_ipv6') | first | ansible.utils.ipaddr('address') }}"
connection_nic_ipv6_with_prefix: "{{ interfaces | nova.core.addresses('connection_nic_ipv6') | first }}"
connection_nic_ipv6_gw: "{{ interfaces | nova.core.addresses('connection_nic_ipv6_gw') | first | ansible.utils.ipaddr('network') }}"
connection_nic_ipv6_network: "{{ interfaces | nova.core.addresses('connection_nic_ipv6') | first | ansible.utils.ipaddr('network/prefix') }}"

connection_vip_ipv6: "{{ interfaces | nova.core.addresses('connection_vip_ipv6') | first | ansible.utils.ipaddr('address') }}"
connection_vip_ipv6_with_prefix: "{{ interfaces | nova.core.addresses('connection_vip_ipv6') | first }}"
connection_vip_ipv6_network: "{{ interfaces | nova.core.addresses('connection_vip_ipv6') | first | ansible.utils.ipaddr('network/prefix') }}"

egress_nic_ipv6: "{{ interfaces | nova.core.addresses('egress_nic_ipv6') | first | ansible.utils.ipaddr('address') }}"
egress_nic_ipv6_with_prefix: "{{ interfaces | nova.core.addresses('egress_nic_ipv6') | first }}"
egress_nic_ipv6_gw: "{{ interfaces | nova.core.addresses('egress_nic_ipv6_gw') | first | ansible.utils.ipaddr('network') }}"
egress_nic_ipv6_network: "{{ interfaces | nova.core.addresses('egress_nic_ipv6') | first | ansible.utils.ipaddr('network/prefix') }}"

egress_nic_vip_ipv6: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv6') | first | ansible.utils.ipaddr('address') }}"
egress_nic_vip_ipv6_with_prefix: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv6') | first }}"
egress_nic_vip_ipv6_network: "{{ interfaces | nova.core.addresses('egress_nic_vip_ipv6') | first | ansible.utils.ipaddr('network/prefix') }}"

# MGMT
mgmt_ipv4: "{{ interfaces | nova.core.addresses('mgmt_ipv4') | first | ansible.utils.ipaddr('address') }}"
mgmt_ipv4_with_prefix: "{{ interfaces | nova.core.addresses('mgmt_ipv4') | first }}"
mgmt_ipv6: "{{ interfaces | nova.core.addresses('mgmt_ipv6') | first | ansible.utils.ipaddr('address') }}"
mgmt_ipv6_with_prefix: "{{ interfaces | nova.core.addresses('mgmt_ipv6') | first }}"

#########
# Vault #
#########

vault_address: {} # Required when Vault is used to save or retrieve secrets - example https://vault.example.com

# Set to false to skip getting Vault token
deploy_vars_get_vault_token: true

# Set to true to get Vault token when pre_role is used
# Most of the time pre_role does not require a Vault token, but if it does, this variable can be set to true
deploy_vars_get_vault_token_with_pre_role: false

deploy_vars_vault_auth_method: ldap # Method used to authenticate to Vault. Can be ldap or token.
deploy_vars_vault_mount_point: "{{ omit }}" # The mount point for the secrets engine in Vault will be omitted if empty
vault_ca_cert: "{{ omit }}" # The path to the CA certificate file which is used to validate the Vault server certificate
vault_auth_method: ldap # Currently in this role ldap or userpass are supported
vault_username: "{{ env_project_deployer_username | default(project_deployer_username) | default(deployer_username) }}"
vault_password: "{{ env_project_deployer_password | default(project_deployer_password) | default(deployer_password) }}"
validate_vault_certs: true
vault_access_token: "{{ deploy_vars_vault_token.login.auth.client_token }}" # Comes from Vault token generation task in main.yml
vault_lookup_fragment: "url={{ vault_address }} token={{ vault_access_token }} " # The space before the ending quote is required

##########
# VMware #
##########

validate_vmware_certs: true

vmware_defaults:
  hostname: "{{ vcenter_hostname | default('') }}"
  username: "{{ vcenter_username | default(env_project_deployer_username) | default(project_deployer_username) | default(deployer_username) | default('') }}"
  password: "{{ vcenter_password | default(env_project_deployer_password) | default(project_deployer_password) | default(deployer_password) | default('') }}"
  validate_certs: "{{ validate_vmware_certs }}"

vmware_rest_defaults:
  vcenter_hostname: "{{ vcenter_hostname | default('') }}"
  vcenter_username: "{{ vcenter_username | default(env_project_deployer_username) | default(project_deployer_username)
    | default(deployer_username) | default('') }}"
  vcenter_password: "{{ vcenter_password | default(env_project_deployer_password) | default(project_deployer_password)
    | default(deployer_password) | default('') }}"
  vcenter_validate_certs: "{{ validate_vmware_certs }}"

nsx_deployer_username: "{{ nsx_username | default(env_project_deployer_username) | default(project_deployer_username)
  | default(deployer_username | default('') + '@' + ldap_auth_domain | default('')) }}"
nsx_deployer_password: "{{ nsx_password | default(env_project_deployer_password) | default(project_deployer_password)
  | default(deployer_password) | default('') }}"

vmware_workstation:
  connection: ssh
  host: host.docker.internal
  local_vm_folder: /home/{{ lookup('env', 'USER') }}/vmware/{{ project_fullname | default('') }}
  local_vmx_folder_path: /home/{{ lookup('env', 'USER') }}/vmware/{{ project_fullname | default('') }}/{{ custom_vm_name
    | default(vm_name) }}
  local_vmx_path: /home/{{ lookup('env', 'USER') }}/vmware/{{ project_fullname | default('') }}/{{ custom_vm_name
    | default(vm_name) }}/{{ custom_vm_name | default(vm_name) }}.vmx
  python_interpreter: /usr/bin/python3
  shell_type: sh
  user: "{{ lookup('env', 'USER') }}"

#######
# AWS #
#######

aws_defaults:
  region: "{{ aws_region | default('eu-north-1') }}" # Default is Stockholm
  access_key:
    "{{ lookup('vars', environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_aws_access_key_id')
    | default(lookup('vars', project_fullname | default('') ~ '_aws_access_key_id'))
    | default(aws_access_key_id) | default('') }}"
  secret_key:
    "{{ lookup('vars', environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_aws_access_key')
    | default(lookup('vars', project_fullname | default('') ~ '_aws_access_key'))
    | default(aws_access_key) | default('') }}"
  session_token:
    "{{ lookup('vars', environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_aws_session_token')
    | default(lookup('vars', project_fullname | default('') ~ '_aws_session_token'))
    | default(aws_session_token) | default(omit) }}"

#########
# Azure #
#########

azure_resource_group: "{{ project_fullname | default('') }}"
azure_location: westeurope
azure_defaults:
  # Current subscription ID from https://portal.azure.com/#blade/Microsoft_Azure_Billing/SubscriptionsBlade
  subscription_id:
    "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_azure_subscription_id']
    | default(vars[project_fullname | default('') ~ '_azure_subscription_id'])
    | default(azure_subscription_id) | default('') }}"

  # The Service Principal Name's (Service Account used for deployment) ID from
  # https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps
  client_id: "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_azure_client_id']
    | default(vars[project_fullname | default('') ~ '_azure_client_id'])
    | default(azure_client_id) | default('') }}"

  # The current Tenant's ID from https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps
  tenant: "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_azure_tenant_id']
    | default(vars[project_fullname | default('') ~ '_azure_tenant_id'])
    | default(azure_tenant_id) | default('') }}"
  secret:
    "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_azure_service_principal_secret']
    | default(vars[project_fullname | default('') ~ '_azure_service_principal_secret'])
    | default(azure_service_principal_secret) | default('') }}"

###########
# Proxmox #
###########

proxmox_defaults:
  api_host: "{{ proxmox_api_host | default('') }}"
  api_user: "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_proxmox_api_user']
    | default(vars[project_fullname | default('') ~ '_proxmox_api_user'])
    | default(proxmox_api_user) | default('') }}"
  api_token_id:
    "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_proxmox_api_token_id']
    | default(vars[project_fullname | default('') ~ '_proxmox_api_token_id'])
    | default(proxmox_api_token_id) | default('') }}"
  api_token_secret:
    "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_proxmox_api_token_secret']
    | default(vars[project_fullname | default('') ~ '_proxmox_api_token_secret'])
    | default(proxmox_api_token_secret) | default('') }}"

proxmox_validate_certs: true
proxmox_api_url: https://{{ proxmox_defaults.api_host }}:8006/api2/json

# How long to wait for a Proxmox operation (like clone, powerstate and snapshots) to complete
proxmox_machine_operations_operation_timeout: 180

#############
# OpenStack #
#############

openstack_defaults:
  auth:
    auth_url: "{{ openstack_auth_url | default('') }}"
    username: "{{ openstack_username | default(env_project_deployer_username) | default(project_deployer_username)
      | default(deployer_username) | default('') }}"
    password: "{{ openstack_password | default(env_project_deployer_password) | default(project_deployer_password)
      | default(deployer_password) | default('') }}"
    project_id:
      "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_openstack_project_id']
      | default(vars[project_fullname | default('') ~ '_openstack_project_id'])
      | default(openstack_project_id) | default('') }}"
    user_domain_name:
      "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_openstack_user_domain_name']
      | default(vars[project_fullname | default('') ~ '_openstack_user_domain_name'])
      | default(openstack_user_domain_name) | default('Default') }}"
    project_domain_name:
      "{{ vars[environment_name | default('') ~ '_' ~ project_fullname | default('') ~ '_openstack_project_domain_name']
      | default(vars[project_fullname | default('') ~ '_openstack_project_domain_name'])
      | default(openstack_project_domain_name) | default('Default') }}"
