---
domain_join_password: "{{ domain_admin_password }}"
domain_join_user: "{{ domain_admin_username }}" # Can be different from domain_admin_username with only domain join rights

#########
# Linux #
#########

ad_domain_name: "{{ domain }}"
ad_sudo_group: Domain\ Admins
domain_dn: DC={{ ad_domain_name.split('.') | join(',DC=') | trim }} # AD domain's DistinguishedName

# Set to true to reboot immediately after joining the domain
# This is useful when you need to ensure that the machine is in the domain before running other tasks
join_domain_reboot_linux_immediately: false

###########
# Windows #
###########

primary_domain_controller: "{{ dns_servers[0] }}"
state: domain # Can be domain or workgroup for Windows

# If set to true will try and login to the primary domain controller and clean any existing computer account before joining the domain if the trust is broken
# Set to false when non-Windows based domain controllers are used
join_domain_clean_broken_trust_account: true
