---
- name: Reverting to {{ snapshot_name | default(snapshot_info.guest_snapshots.current_snapshot.name) | default('') }} snapshot...
  community.vmware.vmware_guest_snapshot:
    datacenter: "{{ datacenter }}"
    folder: "{{ folder }}"
    name: "{{ custom_vm_name | default(vm_name) }}"
    state: revert
    snapshot_name: "{{ snapshot_name | default(snapshot_info.guest_snapshots.current_snapshot.name) }}"
  delegate_to: localhost
  become: false
  when: snapshot_info.guest_snapshots != {}

- name: ERROR
  ansible.builtin.fail:
    msg: "{{ custom_vm_name | default(vm_name) }} doesn't have any snapshots!"
  when: snapshot_info.guest_snapshots == {}

- name: Including powerstate role...
  ansible.builtin.include_role:
    name: nova.core.powerstate
  vars:
    poweron: true
  when: start_vm_after_revert | bool # Because CLI detects extra var as string
