---
- name: Including snapshot tasks...
  delegate_to: localhost
  become: false
  block:
    - name: Removing all existing snapshots...
      community.vmware.vmware_guest_snapshot:
        datacenter: "{{ datacenter }}"
        folder: "{{ folder }}"
        name: "{{ custom_vm_name | default(vm_name) }}"
        state: remove_all
      when: snapshot_mode == 'clean-snap'

    - name: Removing snapshot...
      community.vmware.vmware_guest_snapshot:
        datacenter: "{{ datacenter }}"
        folder: "{{ folder }}"
        name: "{{ custom_vm_name | default(vm_name) }}"
        state: absent
        snapshot_name: "{{ snapshot_name | default(snapshot_info.guest_snapshots.current_snapshot.name) }}"
      when:
        - snapshot_info.guest_snapshots != {}
        - snapshot_mode == 're-snap'

    - name: Getting the time...
      ansible.builtin.setup:
        filter: "*_time"

    - name: Creating a snapshot - {{ snapshot_name | default(ansible_date_time.iso8601) }}...
      community.vmware.vmware_guest_snapshot:
        datacenter: "{{ datacenter }}"
        folder: "{{ folder }}"
        name: "{{ custom_vm_name | default(vm_name) }}"
        state: present
        memory_dump: "{{ true if live_snap else false }}"
        snapshot_name: "{{ snapshot_name | default(ansible_date_time.iso8601) }}"
        description: Created at {{ ansible_date_time.iso8601 }} by {{ project_deployer_username | default(deployer_username) }}

- name: Including powerstate role...
  ansible.builtin.include_role:
    name: nova.core.powerstate
  vars:
    poweron: true
  when:
    - start_vm_after_snapshot | bool # To be able to pass this as a cli extra var -e start_vm_after_snapshot=true/false
    - not live_snap | bool # To be able to pass this as a cli extra var -e start_vm_after_snapshot=true/false
