---
- name: Gathering RouterOS facts...
  community.routeros.facts:
  vars:
    ansible_command_timeout: 60
  when: ansible_network_os | default('') == 'community.routeros.routeros'

- name: Gathering VyOS facts...
  vyos.vyos.vyos_facts:
  when: ansible_network_os | default('') == 'vyos.vyos.vyos'

- name: Gathering Cisco IOS facts...
  cisco.ios.ios_facts:
  when: ansible_network_os | default('') == 'cisco.ios.ios'

- name: Gathering facts for FortiOS...
  fortinet.fortios.fortios_configuration_fact:
    selector: system_global
  when: ansible_network_os | default('') == 'fortinet.fortios.fortios'

- name: Gathering facts for pfSense/OPNsense...
  ansible.builtin.setup:
    gather_timeout: 60
  when: ansible_network_os | default([]) in ['pfsense', 'opnsense']

- name: Gathering facts for PanOS...
  paloaltonetworks.panos.panos_facts:
    provider: "{{ panos_connection_params }}"
    gather_subset: all
  register: panos_facts
  until: panos_facts is succeeded # To avoid first run failures when the device is not ready yet
  retries: 20
  delay: 3
  delegate_to: localhost
  become: false
  when: ansible_network_os | default('') == 'panos'

# macos_has_python is a MacOS specific var set in nova.core.connection role to indicate if Python is installed
# false by default for MacOS but defaulting to true here to avoid errors on non-MacOS systems
- name: Gathering facts for {{ inventory_hostname }}...
  ansible.builtin.setup:
    gather_timeout: 60
  when:
    - ansible_network_os is not defined
    - darwin_with_python | default(true)

- name: Setting minimal facts for Pythonless MacOS {{ inventory_hostname }}...
  ansible.builtin.set_fact:
    ansible_custom_facts:
      system: Darwin
  when:
    - darwin_with_python is defined
    - not darwin_with_python
# Useful when debugging facts gathered from different operating systems
# - name: Saving ansible_facts to file...
#   ansible.builtin.copy:
#     content: "{{ ansible_facts | to_nice_yaml }}"
#     dest: "{{ inventory_hostname }}.yml"
#     mode: "0644"
#   delegate_to: localhost
#   become: false
