---
- name: Configuring VM network on Proxmox...
  become: false
  delegate_to: localhost
  block:
    # Retrying until the host is available, might take some time depending on the OS.
    - name: Getting {{ custom_vm_name | default(vm_name) }} network configuration...
      community.proxmox.proxmox_vm_info:
        name: "{{ custom_vm_name | default(vm_name) }}"
        config: current
        network: true
      register: proxmox_vm_info
      until: not proxmox_vm_info.failed
      retries: 60
      delay: 5

    - name: Creating a list of MAC addresses...
      ansible.builtin.set_fact:
        # Assigning 00:00:00:00:00:00 as a default for interfaces without a MAC address,
        # since different OSes report network interfaces differently.
        # These default MAC addresses are then filtered out, as they typically represent loopback or non-physical interfaces.
        configure_networking_mac_addresses:
          "{{ proxmox_vm_info.proxmox_vms[0].network | map(attribute='hardware-address', default='00:00:00:00:00:00')
          | reject('equalto', '00:00:00:00:00:00') | list }}"
        configure_networking_hw_interfaces: "{{ proxmox_vm_info.proxmox_vms[0].network | map(attribute='name')
          | reject('in', configure_networking_proxmox_interfaces_to_exclude) | list }}"

    - name: Checking if network customization method exists...
      ansible.builtin.stat:
        path: "{{ role_path }}/tasks/proxmox/{{ customization_method }}.yml"
      register: customization_method_file

    - name: NETWORK CUSTOMIZATION NOT IMPLEMENTED
      ansible.builtin.fail:
        msg: |
          Network customization method {{ customization_method | upper }} is not implemented on Proxmox.
      when: not customization_method_file.stat.exists

    - name: Including {{ customization_method }} network configuration tasks...
      ansible.builtin.include_tasks: "{{ customization_method }}.yml"
