---
- name: Configuring nmcli networking...
  become: false
  delegate_to: localhost
  block:
    - name: Templating nmcli configuration files...
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        lstrip_blocks: true
      loop_control:
        label: "{{ item.src }}"
      loop:
        - src: 70-persistent-net.rules
          dest: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_70-persistent-net.rules
        - src: nmcli.sh
          dest: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_nmcli.sh

    - name: Removing any existing netplan configurations...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ cfg_net_proxmox_node }}/qemu/{{ cfg_net_proxmox_vmid }}/agent/exec"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        body:
          command:
            - sh
            - -c
            - "rm -f /etc/netplan/*"
        body_format: json
        validate_certs: "{{ proxmox_validate_certs }}"
      register: network_config_command

    - name: Including command run check task...
      ansible.builtin.include_tasks: command_run_check.yml

    - name: Getting network configuration file contents...
      ansible.builtin.slurp:
        path: "{{ item }}"
      loop:
        - /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_70-persistent-net.rules
        - /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_nmcli.sh
      register: file_contents

    - name: Writing following nmcli configuration files to {{ custom_vm_name | default(vm_name) }}...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ cfg_net_proxmox_node }}/qemu/{{ cfg_net_proxmox_vmid }}/agent/file-write"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        body:
          content: "{{ file_contents.results[file_index].content | b64decode }}"
          file: "{{ item }}"
        body_format: json
        validate_certs: "{{ proxmox_validate_certs }}"
      loop_control:
        index_var: file_index
      loop:
        - /etc/udev/rules.d/70-persistent-net.rules
        - /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_nmcli.sh

    - name: Configuring network...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ cfg_net_proxmox_node }}/qemu/{{ cfg_net_proxmox_vmid }}/agent/exec"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        body:
          command:
            - /bin/bash
            - /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_nmcli.sh
        body_format: json
        validate_certs: "{{ proxmox_validate_certs }}"
      register: network_config_command

    - name: Including command run check task...
      ansible.builtin.include_tasks: command_run_check.yml

    - name: Rebooting {{ custom_vm_name | default(vm_name) }} VM...
      ansible.builtin.include_role:
        name: nova.core.powerstate
      vars:
        restart: true
