---
- name: Configuring networking on Windows VM...
  become: false
  delegate_to: localhost
  block:
    - name: Including Sysprep check tasks...
      ansible.builtin.include_tasks: windows_check_sysprep.yml

    - name: Waiting until quest agent is running...
      community.proxmox.proxmox_vm_info:
        name: "{{ custom_vm_name | default(vm_name) }}"
        config: current
        network: true
      retries: 30
      delay: 10

    - name: Templating network configuration script...
      ansible.builtin.template:
        src: Configure-Network.ps1
        dest: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_Configure-Network.ps1
        mode: "0644"
        lstrip_blocks: true

    - name: Getting network configuration file contents...
      ansible.builtin.slurp:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_Configure-Network.ps1
      register: file_contents

    - name: Writing PowerShell configuration script to {{ custom_vm_name | default(vm_name) }}...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ cfg_net_proxmox_node }}/qemu/{{ cfg_net_proxmox_vmid }}/agent/file-write"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        body:
          content: "{{ file_contents.content | b64decode }}"
          file: C:\Windows\Temp\Configure-Network.ps1
        body_format: json
        validate_certs: "{{ proxmox_validate_certs }}"

    - name: Configuring network...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ cfg_net_proxmox_node }}/qemu/{{ cfg_net_proxmox_vmid }}/agent/exec"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        body:
          command:
            - "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"
            - -ExecutionPolicy
            - Bypass
            - -NoProfile
            - -WindowStyle
            - Hidden
            - -File
            - "C:\\Windows\\Temp\\Configure-Network.ps1"
        body_format: json
        validate_certs: "{{ proxmox_validate_certs }}"
      register: network_config_command
      retries: 24
      delay: 5

    - name: Including command run check task...
      ansible.builtin.include_tasks: command_run_check.yml

    - name: Waiting for the network to be configured...
      ansible.builtin.wait_for:
        host: "{{ connection_address }}"
        port: 22

  rescue:
    - name: WINDOWS NETWORK ERROR
      ansible.builtin.fail:
        msg: |
          Failed to configure networking on Windows VM.
          Check the following places for errors:
            - Errors logs above
            - {{ inventory_hostname }} host logs about Sysprep errors
            - Try running C:\Windows\Temp\Configure-Network.ps1 manually on the VM to see if there are any errors.
      when: sysprep_loop_count | int >= 3

    - name: Rebooting {{ custom_vm_name | default(vm_name) }} VM...
      ansible.builtin.include_role:
        name: nova.core.powerstate
      vars:
        restart: true

    - name: Waiting until quest agent is running...
      community.proxmox.proxmox_vm_info:
        name: "{{ custom_vm_name | default(vm_name) }}"
        config: current
        network: true
      retries: 30
      delay: 10

    - name: Re-including Windows CLI tasks...
      ansible.builtin.include_tasks: windows_cli.yml
