---
- name: Getting {{ custom_vm_name | default(vm_name) }} info...
  community.proxmox.proxmox_vm_info:
    name: "{{ custom_vm_name | default(vm_name) }}"
    validate_certs: "{{ proxmox_validate_certs }}"
  register: proxmox_vm_info
  delegate_to: localhost
  become: false

- name: ERROR
  ansible.builtin.fail:
    msg: |
      {{ custom_vm_name | default(vm_name) }} VM not found!
  when: proxmox_vm_info.proxmox_vms == []

- name: Including {{ custom_vm_name | default(vm_name) }} poweron tasks...
  ansible.builtin.include_tasks: poweron.yml
  when: poweron | bool

- name: Including {{ custom_vm_name | default(vm_name) }} reset tasks...
  ansible.builtin.include_tasks: reset.yml
  when: reset | bool

- name: Including {{ custom_vm_name | default(vm_name) }} restart tasks...
  ansible.builtin.include_tasks: restart.yml
  when: restart | bool

- name: Including {{ custom_vm_name | default(vm_name) }} suspend tasks...
  ansible.builtin.include_tasks: suspend.yml
  when: suspend | bool

- name: Including {{ custom_vm_name | default(vm_name) }} shutdown tasks...
  ansible.builtin.include_tasks: shutdown.yml
  when: shutdown | bool

- name: Including {{ custom_vm_name | default(vm_name) }} poweroff tasks...
  ansible.builtin.include_tasks: poweroff.yml
  when: poweroff | bool
