---
- name: Powering on Proxmox VM...
  delegate_to: localhost
  become: false
  block:
    # In case the machine was suspended, it needs to be resumed first, since suspend does not have a valid state in proxmox_vm_info output
    - name: Resuming {{ custom_vm_name | default(vm_name) }}...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ proxmox_vm_info.proxmox_vms[0].node }}/qemu/{{ proxmox_vm_info.proxmox_vms[0].vmid }}/status/resume"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        validate_certs: "{{ proxmox_validate_certs }}"
      when: proxmox_vm_info.proxmox_vms[0].status == 'running'

    - name: Starting {{ custom_vm_name | default(vm_name) }} VM...
      community.proxmox.proxmox_kvm:
        name: "{{ custom_vm_name | default(vm_name) }}"
        state: started
        timeout: "{{ proxmox_machine_operations_operation_timeout }}"
        validate_certs: "{{ proxmox_validate_certs }}"

    - name: Waiting until {{ custom_vm_name | default(vm_name) }} guest agent is running...
      community.proxmox.proxmox_vm_info:
        name: "{{ custom_vm_name | default(vm_name) }}"
        config: current
        network: true
        validate_certs: "{{ proxmox_validate_certs }}"
      retries: "{{ (powerstate_agent_info_timeout if powerstate_agent_info_timeout >= 5 else 5) // 5 }}"
      delay: 5
