---
- name: Powering off Proxmox VM...
  delegate_to: localhost
  become: false
  block:
    - name: Stopping {{ custom_vm_name | default(vm_name) }}...
      ansible.builtin.uri:
        url: "{{ proxmox_api_url }}/nodes/{{ proxmox_vm_info.proxmox_vms[0].node }}/qemu/{{ proxmox_vm_info.proxmox_vms[0].vmid }}/status/stop"
        headers:
          Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
        method: POST
        validate_certs: "{{ proxmox_validate_certs }}"

    - name: Waiting until {{ custom_vm_name | default(vm_name) }} to be stopped...
      community.proxmox.proxmox_vm_info:
        name: "{{ custom_vm_name | default(vm_name) }}"
      register: proxmox_vm_stop
      until: proxmox_vm_stop.proxmox_vms[0].status == "stopped"
      when: proxmox_vm_info.proxmox_vms[0].status != "stopped"
      retries: "{{ (powerstate_agent_info_timeout if powerstate_agent_info_timeout >= 5 else 5) // 5 }}"
      delay: 5
