---
- name: Resetting {{ custom_vm_name | default(vm_name) }}...
  ansible.builtin.uri:
    url: "{{ proxmox_api_url }}/nodes/{{ proxmox_vm_info.proxmox_vms[0].node }}/qemu/{{ proxmox_vm_info.proxmox_vms[0].vmid }}/status/reset"
    headers:
      Authorization: PVEAPIToken={{ proxmox_defaults.api_user }}!{{ proxmox_defaults.api_token_id }}={{ proxmox_defaults.api_token_secret }}
    method: POST
    validate_certs: "{{ proxmox_validate_certs }}"
  delegate_to: localhost
  become: false
  retries: "{{ (powerstate_agent_info_timeout if powerstate_agent_info_timeout >= 5 else 5) // 5 }}"
  delay: 5
  when: proxmox_vm_info.proxmox_vms[0].status == 'running'

- name: Cannot reset {{ custom_vm_name | default(vm_name) }} because it is not running.
  ansible.builtin.debug:
    msg: "{{ custom_vm_name | default(vm_name) }} is not running; skipping reset."
  when: proxmox_vm_info.proxmox_vms[0].status != 'running'
