---
- name: Restarting {{ custom_vm_name | default(vm_name) }}...
  community.proxmox.proxmox_kvm:
    name: "{{ custom_vm_name | default(vm_name) }}"
    state: restarted
    timeout: "{{ proxmox_machine_operations_operation_timeout }}"
    validate_certs: "{{ proxmox_validate_certs }}"
  retries: "{{ (powerstate_agent_info_timeout if powerstate_agent_info_timeout >= 5 else 5) // 5 }}"
  delay: 5
  delegate_to: localhost
  become: false
  when: proxmox_vm_info.proxmox_vms[0].status == 'running'

- name: Including poweron tasks since {{ custom_vm_name | default(vm_name) }} is not running...
  ansible.builtin.include_tasks: poweron.yml
  when: proxmox_vm_info.proxmox_vms[0].status != 'running'
