---
###########
# General #
###########

# Deployment
no_undeploy: false
role_only: false # Includes customization role and then stops, great for developing roles
role_only_wp: false # Run the deploy starting from customization_pre_vm_role
machine_operations_pre_undeploy_roles: [] # Roles to include before undeploying the VM
machine_operations_reconfigure_vm_on_deploy: true # Tries to reconfigure the VMs CPU/RAM/Disk size on deploy if they are updated

####################
# vSphere defaults #
####################

# Networking
extra_interfaces: false

default_interface:
  - name: "{{ interfaces[0].cloud_id }}"
    device_type: "{{ vmware_nic_type }}"
extra_network_interfaces: []

# Hardware
hardware_cpu: # Nr of CPUs to add to machine if left empty it will use the same as the template
hardware_ram: # Nr of GB of RAM to add to machine if left empty it will use the same as the template
vmware_nic_type: vmxnet3
vmware_scsi_controller_type: paravirtual
machine_operations_vgpu: # https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_vgpu_module.html
machine_operations_vsphere_cdrom_config:
  - controller_number: 0 # Unmounting any existing ISO
    unit_number: 0
    type: none

machine_operations_vsphere_disk_config:
  - size_mb: "{{ os_disk_size }}"
    controller_type: "{{ vmware_scsi_controller_type }}"
    controller_number: 0
    unit_number: 0

# Deployment
vapp_options: []
machine_operations_esxi_hostname: # https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#parameter-esxi_hostname

# Linked clones
linked_clone_status: false
linked_clone_snapshot_name: LinkedCloneSource # Case sensitive default value

# Connection address defaults
primary_network: "{{ interfaces | selectattr('connection', 'equalto', true) | first | default([]) }}"
connection_mode: "{{ primary_network.addresses | selectattr('connection', 'equalto', true) | map(attribute='mode') | first }}"
connection_mode_dhcp: "{{ true if connection_mode | regex_search('.*dhcp.*') else false }}"
connection_address:
  "{{ 'DHCP' if connection_mode_dhcp else primary_network.addresses | selectattr('connection', 'equalto', true)
  | map(attribute='address') | first | ansible.utils.ipaddr('address') }}"

# Video memory
video_increase_memory: false
video_memory: 64
video_3d: false
video_3d_memory: 256

vm_description: Created on {{ ansible_date_time.iso8601 }} by {{ project_deployer_username | default(deployer_username) }} - {{ inventory_hostname }}
template_description: Created on {{ ansible_date_time.iso8601 }}

######################
# VMWare workstation #
######################

# Connection parameters
machine_operations_vmware_workstation_host: host.docker.internal
machine_operations_vmware_workstation_user: "{{ lookup('env', 'USER') }}"
machine_operations_vmware_workstation_connection: ssh
machine_operations_vmware_workstation_shell_type: sh
machine_operations_vmware_workstation_python_interpreter: /usr/bin/python3

# If the local template is older than this interval it will re-downloaded during deploy, default is 30 days
machine_operations_vmware_workstation_template_update_interval: 2592000

# Set to false to ignore the template update interval and never update the template
machine_operations_vmware_workstation_template_update: true

template_export_folder: /home/{{ lookup('env', 'USER') }}/vmware/templates
local_vmx_template_path: "{{ template_export_folder }}/{{ vm_template }}/{{ vm_template }}.vmx"
local_vm_folder: /home/{{ lookup('env', 'USER') }}/vmware
machine_operations_local_vmx_path: /home/{{ lookup('env', 'USER') }}/vmware/{{ custom_vm_name | default(vm_name) }}/{{ custom_vm_name | default(vm_name) }}.vmx

# Shared folders

# In VMware Workstation case the ansible_user is the host's username
host_shared_folder_path: /home/{{ ansible_user }}/Documents/vm_shares/{{ custom_vm_name | default(vm_name) }}
enable_shared_folder: true
supported_shared_folder_os: # Operating systems that support shared folders between host and guest
  - os_windows
  - os_ubuntu
  - os_kali

# Custom parameters for VM in vmx file for VMware Workstation
vmwarews_custom_params: []

################
# AWS defaults #
################

aws_access_key: {} # Can be defined in your Ansible Vault

# Temporary ssh key path on your container
temp_ssh_key_path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_aws_key

# AWS security group rules
aws_security_group_rules:
  - proto: TCP
    to_port: 22
    from_port: 22
    cidr_ip:
      - "0.0.0.0/0"
    rule_desc: Internet IPv4 SSH
  - proto: TCP
    to_port: 80
    from_port: 80
    cidr_ip:
      - "0.0.0.0/0"
    rule_desc: Internet IPv4 HTTP
  - proto: TCP
    to_port: 443
    from_port: 443
    cidr_ip:
      - "0.0.0.0/0"
    rule_desc: Internet IPv4 HTTPS
  - proto: TCP
    to_port: 22
    from_port: 22
    cidr_ipv6:
      - ::/0
    rule_desc: Internet IPv6 SSH
  - proto: TCP
    to_port: 80
    from_port: 80
    cidr_ipv6:
      - ::/0
    rule_desc: Internet IPv6 HTTP
  - proto: TCP
    to_port: 443
    from_port: 443
    cidr_ipv6:
      - ::/0
    rule_desc: Internet IPv6 HTTPS

###################
# Linode defaults #
###################

linode_api_token: {} # Can be defined in your Ansible Vault

# The default root password for Linode VM
machine_operations_linode_vm_password:
  "{{ lookup('community.hashi_vault.hashi_vault', vault_lookup_fragment + 'secret=' + secrets_vault_engine_path
  + '/data/' + secrets_vault_secrets_path + ':' + inventory_hostname + '_' + admin_account) }}"
rebuild: false # Use ctp host rebuild-linode-vm <inventory_hostname> command to rebuild the VM with different size but keeping the data
