---
###########
# General #
###########

# Deployment
no_undeploy: false
role_only: false # Includes customization role and then stops, great for developing roles
role_only_wp: false # Run the deploy starting from customization_pre_vm_role
machine_operations_pre_roles: [] # Extra roles to include as first step in this one
machine_operations_post_roles: [] # Extra roles to include as last step in this one
machine_operations_reconfigure_vm_on_deploy: true # Tries to reconfigure the VMs CPU/RAM/Disk size on deploy if they are updated
linked_clone_status: false # Set to true to create a linked clone when supported by the hypervisor
vm_name: "{{ inventory_hostname }}" # Defaults to inventory_hostname if nothing else is defined

####################
# vSphere defaults #
####################

# Networking
extra_interfaces: false

default_interface:
  - name: "{{ interfaces[0].cloud_id }}"
    device_type: "{{ vmware_nic_type }}"
extra_network_interfaces: []

# Hardware
hardware_cpu: # Nr of CPUs to add to machine if left empty it will use the same as the template
hardware_ram: # Nr of GB of RAM to add to machine if left empty it will use the same as the template
vmware_nic_type: vmxnet3
vmware_scsi_controller_type: paravirtual
machine_operations_vgpu: # https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_vgpu_module.html
machine_operations_vsphere_cdrom_config:
  - controller_number: 0 # Unmounting any existing ISO
    unit_number: 0
    type: none

machine_operations_vsphere_disk_config:
  - size_mb: "{{ os_disk_size }}"
    controller_type: "{{ vmware_scsi_controller_type }}"
    controller_number: 0
    unit_number: 0

# Deployment
vapp_options: []
machine_operations_esxi_hostname: # https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#parameter-esxi_hostname

# Linked clones
linked_clone_snapshot_name: LinkedCloneSource # Case sensitive default value

# Video memory
video_increase_memory: false
video_memory: 64
video_3d: false
video_3d_memory: 256

vm_description: Created on {{ ansible_date_time.iso8601 }} by {{ project_deployer_username | default(deployer_username) }} - {{ inventory_hostname }}
template_description: Created on {{ ansible_date_time.iso8601 }}

######################
# VMWare workstation #
######################

# If the local template is older than this interval it will re-downloaded during deploy
machine_operations_vmware_workstation_template_update_interval_days: 90

# Set to false to ignore the template update interval and never update the template
machine_operations_vmware_workstation_template_update: true

# Path to the folder where the VM templates that get downloaded from the vCenter are stored
machine_operations_vmware_workstation_template_export_folder: /home/{{ lookup('env', 'USER') }}/vmware/templates
machine_operations_vmware_workstation_local_vmx_template_path:
  "{{ machine_operations_vmware_workstation_template_export_folder }}/{{
  vm_template }}/{{ vm_template }}.vmx"

# In VMware Workstation case the ansible_user is the host's username
machine_operations_vmware_workstation_enable_shared_folder: true
machine_operations_vmware_workstation_host_shared_folder_path: /home/{{ ansible_user }}/Documents/vm_shares/{{ custom_vm_name | default(vm_name) }}
machine_operations_vmware_workstation_supported_shared_folder_os: # Operating systems that support shared folders between host and guest
  - os_windows
  - os_ubuntu
  - os_kali

# Custom parameters for VM in vmx file for VMware Workstation
machine_operations_vmware_workstation_custom_params: []

################
# AWS defaults #
################

aws_access_key: {} # Can be defined in your Ansible Vault

# Temporary ssh key path on your container
temp_ssh_key_path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_aws_key

# Will create a matching security group for host when deployed
# Set to false when pre-created custom security group is used
machine_operations_create_aws_security_group: true

# AWS security group rules, default is allow all
# Use the following link to create custom rules:
# https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_security_group_module.html
machine_operations_aws_security_group_rules:
  - proto: all
    cidr_ip:
      - "0.0.0.0/0"
    rule_desc: Allow all IPv4 traffic
  - proto: all
    cidr_ipv6:
      - ::/0
    rule_desc: Allow all IPv6 traffic

###################
# Linode defaults #
###################

linode_api_token: {} # Can be defined in your Ansible Vault
rebuild: false # Use ctp host rebuild-linode-vm <inventory_hostname> command to rebuild the VM with different size but keeping the data

###########
# Proxmox #
###########

# List of hotplug devices to enable on the VM
machine_operations_proxmox_hotplug:
  - cpu
  - disk
  - memory
  - network
  - usb

# Proxmox VM default disk
machine_operations_proxmox_os_disk: scsi0

# Proxmox VMID calculation
# This is to make sure that the VM ID is unique otherwise it mass deploy will run into race conditions
machine_operations_proxmox_vmid: "{{ custom_vm_name | default(vm_name) | hash('sha256') | int(base=16) % 1000000000 }}"

# Start VM on boot
machine_operations_proxmox_vm_start_on_boot: true
