---
###########
# General #
###########

# Deployment
no_undeploy: false
machine_operations_pre_roles: [] # Extra roles to include as first step in this one
machine_operations_post_roles: [] # Extra roles to include as last step in this one
machine_operations_reconfigure_vm_on_deploy: true # Tries to reconfigure the VMs CPU/RAM/Disk size on deploy if they are updated
linked_clone_status: false # Set to true to create a linked clone when supported by the hypervisor
vm_name: "{{ inventory_hostname }}" # Defaults to inventory_hostname if nothing else is defined

####################
# vSphere defaults #
####################

# Hardware

# By default disabling CPU and RAM hot add/remove features to improve performance
machine_operations_vsphere_memory_hot_add: false # Disable hot add for memory
machine_operations_vsphere_cpu_hot_add: false # Disable hot add for CPU
machine_operations_vsphere_cpu_hot_remove: false # Disable hot remove for CPU
machine_operations_vsphere_memory_reservation_lock: false
machine_operations_vsphere_memory_reservation_gb: {} # Set to a number to reserve that much memory in GB on the host

hardware_cpu: # Nr of CPUs to add to machine if left empty it will use the same as the template
hardware_ram: # Nr of GB of RAM to add to machine if left empty it will use the same as the template
vmware_nic_type: vmxnet3
machine_operations_vgpu: # https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_vgpu_module.html
machine_operations_vsphere_cdrom_config:
  - controller_number: 0 # Unmounting any existing ISO
    unit_number: 0
    type: none

# The default disk configuration for the VM
# The default uses the same controller type as the template disk
# When expanding the disk the controller type is omitted and the existing controller is used
# Pass the machine_operations_vmware_disk_controller_type variable to override the controller type
machine_operations_vsphere_disk_config:
  - size_mb: "{{ os_disk_size }}"
    controller_type: "{{ machine_operations_vmware_disk_controller_type | default((vm_disk_info.guest_disk_info | dict2items | first).value.controller_type) }}"
    controller_number: 0
    unit_number: 0

# Name of the content library where the template is stored
# When this is set content library will be used instead of traditional templates
machine_operations_vsphere_content_library_name: {}

# https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_module.html#parameter-esxi_hostname
machine_operations_esxi_hostname:

vapp_options: []

# Linked clones
linked_clone_snapshot_name: LinkedCloneSource # Case sensitive default value

# Video memory
machine_operations_vsphere_increase_video_memory: false
machine_operations_vsphere_video_memory: 64
machine_operations_vsphere_video_3d: false
machine_operations_vsphere_video_3d_memory: 256

vm_description: Created on {{ ansible_facts.date_time.iso8601 }} by {{ deployer_username | default('deployer_username_undefined') }} - {{ inventory_hostname }}
template_description: Created on {{ ansible_facts.date_time.iso8601 }}

# Add a list of custom attributes to add to the VM
# https://docs.ansible.com/ansible/latest/collections/community/vmware/vmware_guest_custom_attributes_module.html
machine_operations_vsphere_custom_attributes: []

######################
# VMWare workstation #
######################

# Set to false to skip downloading VM templates from vSphere
# The templates must be created by other means and exist locally in this case
machine_operations_vmware_workstation_download_template_from_vsphere: true

# If the local template is older than this interval it will re-downloaded during deploy
machine_operations_vmware_workstation_template_update_interval_days: 90

# Set to false to ignore the template update interval and never update the template
machine_operations_vmware_workstation_template_update: true

# Path to the folder where the VM templates that get downloaded from the vCenter are stored
machine_operations_vmware_workstation_template_export_folder: /home/{{ lookup('env', 'USER') }}/vmware/templates
machine_operations_vmware_workstation_local_vmx_template_path:
  "{{ machine_operations_vmware_workstation_template_export_folder }}/{{
  vm_template }}/{{ vm_template }}.vmx"

# In VMware Workstation case the ansible_user is the host's username
machine_operations_vmware_workstation_enable_shared_folder: true
machine_operations_vmware_workstation_host_shared_folder_path: /home/{{ ansible_user }}/Documents/vm_shares/{{ custom_vm_name | default(vm_name) }}
machine_operations_vmware_workstation_supported_shared_folder_os: # Operating systems that support shared folders between host and guest
  - os_windows
  - os_ubuntu
  - os_kali

# Custom parameters for VM in vmx file for VMware Workstation
machine_operations_vmware_workstation_custom_params: []

################
# AWS defaults #
################

# The ID of the VPC where the instance will be created
# If left empty the default VPC for the region will be used
# If a VPC ID is defined then the the subnet ID must also be defined
# For that either use machine_operations_aws_subnet_id in code or define it in the "ID in cloud" field in Providentia
aws_vpc_id: {}

# Temporary ssh key path on your container
machine_operations_aws_temp_ssh_key_path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_aws_key

# Assign a public IP to the instances connection interface
machine_operations_aws_assign_public_ip: true

# Will create a matching security group for host when deployed
# Set to false when pre-created custom security group is used
machine_operations_create_aws_security_group: true

# List of existing security group names to use for the instance
# Mutually exclusive with machine_operations_create_aws_security_group set to true
machine_operations_aws_security_group_names: []

# By default the subnet ID comes from the interfaces list
# It can be overridden it here to use the same subnet for all interfaces
# or custom mapping can be created in host_vars/group_vars to map to specific subnet ID to specific host or group
machine_operations_aws_subnet_id: {}

# AWS security group rules, default is allow all
# Use the following link to create custom rules:
# https://docs.ansible.com/ansible/latest/collections/amazon/aws/ec2_security_group_module.html
machine_operations_aws_security_group_rules:
  - proto: all
    cidr_ip:
      - "0.0.0.0/0"
    rule_desc: Allow all IPv4 traffic
  - proto: all
    cidr_ipv6:
      - ::/0
    rule_desc: Allow all IPv6 traffic

###################
# Linode defaults #
###################

# Set to true to rebuild the VM with different size but keeping the data
rebuild: false

# Set to VPC label to attach the VM to a VPC and its subnet
# If left empty the VM will be created without VPC
linode_vpc_label: {}

##################
# Azure defaults #
##################

# Attaches a public IP address to the connection interfaces from the interfaces list when creating a VM
machine_operations_azure_attach_public_ip: true

# Will try and pre-create the network for a VM based on the interfaces variable
# Set to false if network(s) are already pre-created by other means
machine_operations_azure_create_network: true

# This default allow all rule should only be used for testing
# Use the following link to create custom rules per host/group:
# https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_securitygroup_module.html#parameter-rules
machine_operations_azure_security_group_rules:
  - name: AllowAllInboundIPv4
    protocol: "*"
    source_address_prefix:
      - "0.0.0.0/0"
    priority: 100
  - name: AllowAllInboundIPv6
    protocol: "*"
    source_address_prefix:
      - "::/0"
    priority: 110

# The default managed disk type to use for the VM
# All options are listed here:
# https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_module.html#parameter-data_disks/managed_disk_type
machine_operations_azure_vm_managed_disk_type: StandardSSD_LRS

###########
# Proxmox #
###########

# List of hotplug devices to enable on the VM
machine_operations_proxmox_hotplug:
  - cpu
  - disk
  - memory
  - network
  - usb

# Proxmox VM default disk
machine_operations_proxmox_os_disk: scsi0

# Proxmox VMID calculation
# This is to make sure that the VM ID is unique otherwise it mass deploy will run into race conditions
machine_operations_proxmox_vmid: "{{ custom_vm_name | default(vm_name) | hash('sha256') | int(base=16) % 1000000000 }}"

# Start VM on boot
machine_operations_proxmox_vm_start_on_boot: true

# Enable Firewall for all VM network interfaces
# True or false for all interfaces. Use a custom role/task to enable/disable per interface if needed
machine_operations_proxmox_enable_firewall: true

#############
# OpenStack #
#############

# Pre-existing keypair name to use for the instance
machine_operations_openstack_key_name: {}

# Temp path where autogenerated temp SSH key is stored
machine_operations_openstack_temp_ssh_key_name: "{{ 'temp_' ~ custom_vm_name | default(vm_name) ~ '_key' }}"
machine_operations_openstack_temp_ssh_key_path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_openstack_key

# Floating IP pool name.
# If left empty no floating IP will be attached
machine_operations_openstack_floating_ip_pool_name: {}

# Backend interface name where the floating IP will send traffic
# Usually only to define required when an instance has multiple interfaces
machine_operations_openstack_floating_ip_nat_destination: {}

# Set to true to inject the generated keypair to the instance using cloud-init
machine_operations_openstack_use_keypair: false
