---
- name: Creating AWS EC2 instance for {{ inventory_hostname }}...
  delegate_to: localhost
  become: false
  block:
    - name: Sorting instances by launch_time...
      ansible.builtin.set_fact:
        existing_instances: "{{ ec2_instance_info.instances | sort(attribute='launch_time') }}"

    - name: Setting fresh_deploy as fact...
      ansible.builtin.set_fact:
        fresh_deploy: true
      when: existing_instances == [] or existing_instances[-1].state.name == 'terminated'

    - name: Checking for the correct deploy mode...
      ansible.builtin.fail:
        msg: |
          Virtual Machine {{ custom_vm_name | default(vm_name) }} doesn't exist, use the deploy command first!
      when:
        - fresh_deploy is ansible.builtin.truthy
        - role_only is ansible.builtin.truthy
          or role_only_wp is ansible.builtin.truthy
          or single_role is defined

    - name: Including fresh deploy tasks...
      when: fresh_deploy
      block:
        # Removal is required if for some reason the temp key already exists
        - name: Removing existing ssh temp key for {{ custom_vm_name | default(vm_name) }}...
          amazon.aws.ec2_key:
            name: "{{ custom_vm_name | default(vm_name) }}"
            state: absent

        - name: Creating a temp ssh key for {{ custom_vm_name | default(vm_name) }}...
          amazon.aws.ec2_key:
            name: "{{ custom_vm_name | default(vm_name) }}"
            key_type: rsa
            file_name: "{{ machine_operations_aws_temp_ssh_key_path }}"

        - name: Slurping {{ machine_operations_aws_temp_ssh_key_path }} file...
          ansible.builtin.slurp:
            src: "{{ machine_operations_aws_temp_ssh_key_path }}"
          register: slurped_aws_temp_ssh_key

        - name: Generating {{ aws_template_username | default(template_username) }} user account password...
          ansible.builtin.set_fact:
            template_password: "{{ lookup('password', '/dev/null length=32 chars=hexdigits') }}"
          when: ("os_windows" in group_names)

    - name: Configuring AWS EC2 instance for {{ inventory_hostname }}...
      when:
        - not role_only_wp # Not reconfiguring when running from pre_vm_role
        - not role_only # Not reconfiguring on role only
      block:
        - name: Getting all OS images...
          amazon.aws.ec2_ami_info:
            filters:
              owner-id: "{{ ami_owner_id }}"
              name: "{{ ami_name_search_string }}"
              architecture: x86_64
          register: found_amis

        - name: Setting latest found image as instance image...
          ansible.builtin.set_fact:
            ec2_instance_image: "{{ (found_amis.images | sort(attribute='creation_date'))[-1] }}"

        - name: Configuring AWS security group for {{ custom_vm_name | default(vm_name) }}...
          amazon.aws.ec2_security_group:
            name: "{{ custom_vm_name | default(vm_name) }}"
            description: Security group for {{ custom_vm_name | default(vm_name) }}
            rules: "{{ machine_operations_aws_security_group_rules }}"
            state: present
            vpc_id: "{{ aws_vpc_id | default(omit) }}"
          register: created_security_group
          when:
            - machine_operations_create_aws_security_group
            - machine_operations_aws_security_group_names == []

        - name: Getting required values from templated aws_interfaces.yml...
          ansible.builtin.set_fact:
            aws_interfaces: "{{ (lookup('ansible.builtin.template', 'aws_interfaces.yml') | from_yaml)
              | map('dict2items') | map('rejectattr', 'key', 'equalto', 'connection_interface') | map('items2dict') | list }}"
            aws_connection_interface_subnet: "{{ (lookup('ansible.builtin.template', 'aws_interfaces.yml') | from_yaml)
              | map(attribute='subnet_id') | list | default([]) | first | default('') }}"

        - name: Launching {{ custom_vm_name | default(vm_name) }} EC2 instance...
          amazon.aws.ec2_instance:
            name: "{{ custom_vm_name | default(vm_name) }}"
            key_name: "{{ custom_vm_name | default(vm_name) }}"
            network_interfaces: "{{ aws_interfaces }}"
            vpc_subnet_id: "{{ omit if aws_connection_interface_subnet == [] else aws_connection_interface_subnet }}"
            instance_type: "{{ aws_vm_size | default('t3.micro') }}"
            security_group: "{{ omit if machine_operations_aws_security_group_names != []
              else machine_operations_aws_security_group_name | default(created_security_group.group_name) }}"
            security_groups: "{{ omit if machine_operations_aws_security_group_names == [] else machine_operations_aws_security_group_names }}"
            image_id: "{{ machine_operations_aws_ec2_image_id | default(ec2_instance_image.image_id) }}"
            user_data: "{{ lookup('ansible.builtin.template', 'Configure-CloudWindows.ps1') if 'os_windows' in group_names and fresh_deploy else omit }}"
            tags:
              inventory_hostname: "{{ inventory_hostname }}"
              project_fullname: "{{ project_fullname | default('undefined_project') }}"
              image_name: "{{ ec2_instance_image.name }}"
          register: created_ec2_instance
          when: fresh_deploy

        # If for some reason it was present from previous deploy
        - name: Removing existing ssh temp key for {{ custom_vm_name | default(vm_name) }}...
          amazon.aws.ec2_key:
            name: "{{ custom_vm_name | default(vm_name) }}"
            state: absent

    # Interfaces are sorted by device_index since they are not guaranteed to be in the same order as provided when creating the instance
    - name: Configuring public IP for {{ custom_vm_name | default(vm_name) }}...
      amazon.aws.ec2_eip:
        device_id: "{{ ((created_ec2_instance.instances[0] | default(existing_instances[-1])).network_interfaces
          | sort(attribute='attachment.device_index'))[(interfaces | map(attribute='connection')
          | list).index(True) if interfaces != [] else 0].network_interface_id }}"
        in_vpc: true
        release_on_disassociation: true
        state: present
        tags:
          inventory_hostname: "{{ inventory_hostname }}"
          project_fullname: "{{ project_fullname | default('undefined_project') }}"
      register: eip_info
      retries: 3
      delay: 10
      when: machine_operations_aws_assign_public_ip

- name: Setting connection address to {{ eip_info.public_ip
    | default(created_ec2_instance.instances[0].public_ip_address)
    | default(existing_instances[-1].public_ip_address) | default('N/A') }}...
  ansible.builtin.set_fact:
    connection_address: "{{ eip_info.public_ip
      | default(created_ec2_instance.instances[0].public_ip_address)
      | default(existing_instances[-1].public_ip_address) }}"
  when: machine_operations_aws_assign_public_ip

- name: Waiting until SSH is up for {{ custom_vm_name | default(vm_name) }} over {{ connection_address }}...
  ansible.builtin.wait_for:
    host: "{{ connection_address }}"
    port: 22
    state: started
    timeout: 300
  delegate_to: localhost
  become: false
