---
- name: Including Linux domain join tasks...
  ansible.builtin.include_tasks: linux.yml
  when:
    - ansible_facts.system == "Linux"
    - ansible_facts.distribution not in ["Kali", "Archlinux"] # Kali and Archlinux are currently not supported

- name: Including Windows domain join tasks...
  ansible.builtin.include_tasks: windows.yml
  when: ansible_facts.system == "Win32NT"

- name: Including metadata generation role... # EXPERIMENTAL feature, expect future changes
  ansible.builtin.include_role:
    name: nova.core.role_metadata_generate
  vars:
    role_metadata:
      ad_domain_name: "{{ ad_domain_name }}" # Indicates that the machine has been added to this domain
  when: generate_role_metadata | default(false)
