---
- name: Installing apt dependencies...
  ansible.builtin.apt:
    update_cache: true
    name:
      - gpg
      - gpg-agent
  register: docker_dependencies_install
  until: not docker_dependencies_install.failed # Because sometimes the primary DNS is not up yet or egress FW is still being deployed
  retries: 10
  delay: 6

- name: Including Docker for default Debian based OS...
  when: ansible_facts.distribution not in docker_non_default_debian_os_list
  block:
    - name: Adding Docker repo key for {{ ansible_facts.distribution }}...
      ansible.builtin.get_url:
        url: "{{ docker_apt_proxy }}/gpg"
        dest: /etc/apt/trusted.gpg.d/docker.asc
        mode: "0644"
      register: docker_repo_key
      until: not docker_repo_key.failed # Because sometimes the primary DNS is not up yet or egress FW is still being deployed
      retries: 10
      delay: 6

    # Using copy because ansible.builtin.apt_repository does not have a feature to override existing repository in *.list file
    - name: Adding Docker repository...
      ansible.builtin.copy:
        content: deb [arch=amd64] {{ docker_apt_proxy }} {{ ansible_facts.distribution_release }} stable
        dest: /etc/apt/sources.list.d/docker.list
        mode: "0644"

- name: Installing Docker and requirements...
  ansible.builtin.apt:
    name:
      - containerd.io
      - docker-ce-cli{{ '=5:' + docker_engine_version | string + '*' if docker_engine_version != {} else '' }}
      - docker-ce{{ '=5:' + docker_engine_version | string + '*' if docker_engine_version != {} else '' }}
      - docker-compose-plugin
      - python3-docker
      - python3-jsondiff
      - python3-pip
      - python3-requests
      - python3-setuptools
      - python3-wheel
      - python3-yaml
    state: present
    allow_downgrade: true
    update_cache: true
  register: docker_install
  until: not docker_install.failed # Because sometimes the primary DNS is not up yet
  retries: 6
  delay: 5

# This is to avoid updating Docker with apt upgrade if a specific version is set
- name: "{{ 'Locking' if docker_engine_version != {} else 'Unlocking' }} Docker engine version..."
  ansible.builtin.dpkg_selections:
    name: "{{ docker_package }}"
    selection: "{{ 'hold' if docker_engine_version != {} else 'install' }}"
  loop_control:
    loop_var: docker_package
  loop:
    - docker-ce-cli
    - docker-ce
  register: docker_dpkg_lock

- name: Updating Docker packages after unlock... # noqa: package-latest
  ansible.builtin.apt:
    name:
      - docker-ce-cli
      - docker-ce
    state: latest
    update_cache: true
  when:
    - docker_engine_version == {}
    - docker_dpkg_lock.changed

- name: Adding Docker daemon config...
  ansible.builtin.template:
    src: "{{ docker_daemon_template }}"
    dest: /etc/docker/daemon.json
    lstrip_blocks: true
    mode: "0644"
  register: daemon_config

- name: Restarting docker service... # noqa: no-handler
  ansible.builtin.systemd:
    name: docker.service
    enabled: true
    daemon_reload: true
    state: restarted
  when: daemon_config.changed

- name: Creating following Docker networks...
  community.docker.docker_network:
    name: "{{ docker_net.name }}"
    enable_ipv6: "{{ docker_net.enable_ipv6 }}"
    ipam_config:
      - subnet: "{{ docker_net.ipv4_subnet }}"
      - subnet: "{{ docker_net.ipv6_subnet }}"
  loop: "{{ docker_networks }}"
  loop_control:
    loop_var: docker_net
    label: "{{ docker_net.name }}"
  when: docker_networks != []
