---
- name: Including per-OS trusted certificates tasks...
  when: trusted_certificates_list != []
  block:
    - name: Including Windows trusted certificates tasks for Windows systems...
      ansible.builtin.include_tasks: windows.yml
      when: ansible_facts.system | default('') == "Win32NT"

    - name: Including trusted certificates tasks for Unix-like systems...
      ansible.builtin.include_tasks: unix.yml
      when:
        - ansible_facts.system | default('') in ['Linux', 'FreeBSD']
        - ansible_network_os | default('') not in ['opnsense', 'pfsense', 'vyos.vyos.vyos'] # These are based on Unix but have their own tasks

    - name: Including certificates tasks for MacOS systems...
      ansible.builtin.include_tasks: macos.yml
      when: ansible_facts.system | default('') == "Darwin"
        or ansible_custom_facts.system | default('') == "Darwin"

    - name: Including trusted certificates tasks for VyOS systems...
      ansible.builtin.include_tasks: vyos.yml
      when: ansible_network_os | default('') == "vyos.vyos.vyos"

    - name: Including trusted certificates tasks for OPNsense and pfSense systems...
      ansible.builtin.include_tasks: sense.yml
      when: ansible_network_os | default('') in ['opnsense', 'pfsense']

    - name: Including certificates tasks for PAN-OS systems...
      ansible.builtin.include_tasks: panos.yml
      when: ansible_network_os | default('') == 'panos'
