---
- name:
    Connecting as {{ template_username if fresh_deploy else ansible_deployer_username }} to {{ inventory_hostname }} using {{ default_connection_plugin
    | upper }} over {{ connection_address }}...
  ansible.builtin.set_fact:
    ansible_host: "{{ connection_address }}"
    ansible_connection: "{{ default_connection_plugin }}"
    ansible_user: "{{ aws_template_username | default(template_username) if fresh_deploy else ansible_deployer_username }}"
    ansible_password: "{{ omit if (connection_no_password or fresh_deploy) else ansible_deployer_password }}"
    ansible_private_key_file: "{{ temp_ssh_key_path if fresh_deploy else omit }}" # Initial connection will be done with temporary SSH key
    ansible_ssh_extra_args: "{{ '-o IdentitiesOnly=yes' if fresh_deploy else omit }}" # To avoid SSH MaxAuthTries limit
