---
- name: Setting correct connection parameters and IP {{ primary_ipv4 }} for {{ inventory_hostname }}...
  ansible.builtin.set_fact:
    ansible_host: "{{ primary_ipv4 }}"
    ansible_connection: "{{ default_connection_plugin }}"
    ansible_user: "{{ template_username if fresh_deploy else ansible_deployer_username }}"
    ansible_password: "{{ omit if connection_no_password else linode_vm_password if fresh_deploy else ansible_deployer_password }}"
    ansible_ssh_common_args: "{{ '-o PreferredAuthentications=password' if fresh_deploy else omit }}" # Initial connection will forced to password to avoid SSH MaxAuthTries limit
