---
- name: Not including tasks for Ansible networks OS...
  when: ansible_network_os is not defined
  block:
    - name: Including Windows Chocolatey mirror tasks...
      ansible.builtin.include_tasks: choco.yml
      when: ansible_facts.os_family | default('') == "Windows"

    - name: Configuring Debian family sources.list
      when: ansible_facts.os_family | default('') == "Debian"
      block:
        - name: Including Kali mirror tasks...
          ansible.builtin.include_tasks: kali.yml
          when:
            - ansible_facts.distribution | default('') == "Kali"
            - package_mirror_kali_uri != {}

        - name: Including Ubuntu mirror tasks...
          ansible.builtin.include_tasks: ubuntu.yml
          when:
            - ansible_facts.distribution | default('') == "Ubuntu"
            - package_mirror_ubuntu_uri != {}

        - name: Including Debian mirror tasks...
          ansible.builtin.include_tasks: debian.yml
          when:
            - ansible_facts.distribution | default('') == "Debian"
            - customization_method != "proxmox"
            - package_mirror_debian_uri != {}

        - name: Including Parrot mirror tasks...
          ansible.builtin.include_tasks: parrot.yml
          when:
            - ansible_facts.distribution | default('') == "Parrot"
            - package_mirror_parrot_uri != {}
