---
- name: Creating folders for configuration...
  ansible.builtin.file:
    path: "{{ nexus_container_config_folder }}/data"
    owner: 200 # ID of the nexus container user
    group: root # Host machine root group
    mode: "0755"
    state: directory

- name: Templating Nexus configuration files...
  ansible.builtin.template:
    src: "{{ nexus_config_item.src }}"
    dest: "{{ nexus_config_item.dest }}"
    mode: "0644"
    lstrip_blocks: true
  loop_control:
    loop_var: nexus_config_item
  loop:
    - src: nexus.yml
      dest: "{{ nexus_container_config_folder }}/docker-compose.yml"
    - src: Dockerfile
      dest: "{{ nexus_container_config_folder }}/Dockerfile"
  register: template

- name: Checking if Nexus encryption file exists...
  ansible.builtin.stat:
    path: "{{ nexus_container_config_folder }}/data/nexus.secrets.json"
  register: nexus_encryption_file

- name: Templating Nexus encryption file...
  ansible.builtin.template:
    src: nexus.secrets.json
    dest: "{{ nexus_container_config_folder }}/data/nexus.secrets.json"
    owner: 200 # ID of the nexus container user
    group: root # Host machine root group
    mode: "0600"
  when: not nexus_encryption_file.stat.exists

- name: Composing Nexus on {{ inventory_hostname }}...
  community.docker.docker_compose_v2:
    project_src: "{{ nexus_container_config_folder }}"
    pull: never
    state: present
    wait: true

- name: Finding and restarting proxy container...
  when:
    - nexus_proxy_container_name != {}
    - template.changed
  block:
    - name: Checking if {{ nexus_proxy_container_name }} exists...
      community.docker.docker_container_info:
        name: "{{ nexus_proxy_container_name }}"
      register: proxy_container_check

    - name: Restarting {{ nexus_proxy_container_name }}...
      community.docker.docker_container:
        name: "{{ nexus_proxy_container_name }}"
        state: started
        restart: true
        container_default_behavior: no_defaults
      when: proxy_container_check.exists
