---
- name: Listing all auth methods...
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/sys/auth"
    method: GET
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body_format: json
  register: all_auth_methods

# Configuring policies
- name: Creating following policies
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/sys/policy/{{ vault_policy.policy_name }}"
    method: PUT
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body:
      policy: "{{ vault_policy.policy_content }}"
    body_format: json
    status_code:
      - 200
      - 204
  loop: "{{ vault_policies }}"
  loop_control:
    loop_var: vault_policy
    label: "{{ vault_policy.policy_name }}"

- name: Creating following groups to policy mapping...
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/identity/group"
    method: PUT
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body:
      name: "{{ vault_policy.vault_group_name }}"
      policies:
        - "{{ vault_policy.policy_name }}"
      type: external
    body_format: json
    status_code:
      - 200
      - 204
  loop: "{{ vault_policies }}"
  loop_control:
    loop_var: vault_policy
    label: "{{ vault_policy.vault_group_name }} > {{ vault_policy.policy_name }}"

- name: Listing all groups...
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/identity/group/id"
    method: LIST
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body_format: json
  register: vault_all_groups

- name: Listing all group aliases...
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/identity/group-alias/id"
    method: LIST
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body_format: json
  register: all_group_aliases

- name: Linking following local groups with LDAP groups...
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/identity/group-alias{{ ''
      if all_group_aliases.json.data.key_info | dict2items
      | selectattr('value.name', 'eq', vault_policy.ldap_group_name) | map(attribute='key') | first is not defined
      else '/id/' + all_group_aliases.json.data.key_info | dict2items
      | selectattr('value.name', 'eq', vault_policy.ldap_group_name) | map(attribute='key') | first }}"
    method: POST
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_root_token }}"
    body:
      canonical_id: "{{ vault_all_groups.json.data.key_info | dict2items
        | selectattr('value.name', 'eq', vault_policy.vault_group_name) | map(attribute='key') | first }}"
      mount_accessor: "{{ all_auth_methods.json.data['ldap/'].accessor }}"
      name: "{{ vault_policy.ldap_group_name }}"
    body_format: json
    status_code:
      - 200
      - 204
  loop: "{{ vault_policies }}"
  loop_control:
    loop_var: vault_policy
    label: "{{ vault_policy.vault_group_name }} > {{ vault_policy.ldap_group_name }}"
  when: vault_policy.ldap_group_name is defined
