---
- name: Missing required variables...
  ansible.builtin.fail:
    msg: |
      Following variables are required to run this role:
      - fqdn

      Check the nova.core.vault role defaults for an example on how to define the variables.
  when: fqdn == {}

- name: Installing Vault...
  ansible.builtin.include_tasks: install.yml

- name: Configuring Vault...
  ansible.builtin.include_tasks: configure.yml
  when: vault_configure

- name: Waiting until Vault is unsealed... # This task is also here in case vault_configure is false
  ansible.builtin.uri:
    url: "{{ vault_configuration_uri }}/v1/sys/seal-status"
    method: GET
    status_code: 200
    validate_certs: "{{ vault_validate_cert }}"
  register: vault_seal_status
  until:
    - vault_seal_status.json.sealed is defined
    - not vault_seal_status.json.sealed
  retries: 60
  delay: 5
  when: vault_configure

- name: Including creation tasks for following Root CAs...
  ansible.builtin.include_tasks: ca_roots.yml
  loop: "{{ vault_root_cas }}"
  loop_control:
    loop_var: vault_root_ca
    label: "{{ vault_root_ca.vault_root_ca_pki_engine_name }}"
  when:
    - vault_create_root_ca
    - vault_root_ca_pki_engine_name is not defined

- name: Including creation tasks for following Intermediate CAs...
  ansible.builtin.include_tasks: ca_intermediates.yml
  loop: "{{ vault_intermediate_cas }}"
  loop_control:
    loop_var: vault_intermediate_ca
    label: "{{ vault_intermediate_ca.vault_intermediate_ca_pki_engine_name }}"
    index_var: loop_index
  when:
    - vault_create_intermediate_ca
    - vault_intermediate_ca_pki_engine_name is not defined

- name: Including creation tasks for following MiTM CAs...
  ansible.builtin.include_tasks: ca_mitms.yml
  loop: "{{ vault_mitm_cas }}"
  loop_control:
    loop_var: vault_mitm_ca
    label: "{{ vault_mitm_ca.vault_mitm_ca_pki_engine_name }}"
  when:
    - vault_create_mitm_ca
    - vault_mitm_ca_pki_engine_name is not defined

- name: Including ldap configuration task...
  ansible.builtin.include_tasks: configure_ldap.yml
  when: vault_configure_ldap

- name: Including policies tasks for legacy structure...
  ansible.builtin.include_tasks: configure_policies_legacy.yml
  when:
    - vault_policies != []
    - vault_policies | map(attribute='policy_name') | list is defined

- name: Including policies tasks...
  ansible.builtin.include_tasks: configure_policies.yml
  when:
    - vault_policies != []
    - vault_policies | map(attribute='policy_name') | list is not defined
