---
- name: Creating Gitlab folders..
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0755') }}"
  loop_control:
    label: "{{ item.path }}"
  loop:
    - path: "{{ gitlab_config_folder }}"
    - path: "{{ gitlab_config_folder }}/etc"
      mode: u=rwX,g=rwX,o=rX
    - path: "{{ gitlab_config_folder }}/data"
    - path: "{{ gitlab_config_folder }}/logs"
    - path: "{{ gitlab_config_folder }}/registry"
    - path: "{{ gitlab_config_folder }}/temp_configuration"

- name: Templating Gitlab configuration files for {{ inventory_hostname }}..
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default('0644') }}"
    lstrip_blocks: true
  loop:
    - src: gitlab.yml
      dest: "{{ gitlab_config_folder }}/docker-compose.yml"
    - src: gitlab.rb
      dest: "{{ gitlab_config_folder }}/gitlab.rb"
    - src: sshd_config
      dest: "{{ gitlab_config_folder }}/sshd_config"
      mode: "0644"
  register: gitlab_config_files

- name: Composing Gitlab on {{ inventory_hostname }}...
  community.docker.docker_compose_v2:
    project_src: "{{ gitlab_config_folder }}"
    recreate: "{{ 'always' if gitlab_config_files.changed else 'auto' }}"
    state: present
    build: never
    wait: true
    wait_timeout: 900

- name: Finding and restarting proxy container..
  when: gitlab_proxy_container_name != {}
  block:
    - name: Checking if the proxy container exists..
      community.docker.docker_container_info:
        name: "{{ gitlab_proxy_container_name }}"
      register: proxy_container_check

    - name: Restarting {{ gitlab_proxy_container_name }}..
      community.docker.docker_container:
        name: "{{ gitlab_proxy_container_name }}"
        state: started
        restart: true
        container_default_behavior: no_defaults
      when: proxy_container_check.exists

# Extra step when the proxy is slow to restart in the previous task
- name: Waiting until Gitlab is up and running...
  ansible.builtin.uri:
    url: "{{ gitlab_url_api }}/projects"
    method: GET
    status_code: 200
  register: gitlab_uri
  until: gitlab_uri.status == 200
  retries: 12
  delay: 5
