# Mapping of network interfaces to ethX based on MAC address
# This is required for the network interfaces to be persistent across reboots
# The maximum interfaces name length is 15 characters
{% for interface in interfaces %}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ configure_networking_mac_addresses[loop.index - 1] }}", NAME="{{ interface_names[loop.index0] }}"
{% endfor %}