# Mapping correct MAC addresses to interface names
{% for interface in interfaces %}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ configure_networking_mac_addresses[loop.index0] }}", NAME="{{ interface_names[loop.index0] }}"
{% endfor %}
