---
services:
  nexus:
    build:
      dockerfile: Dockerfile
    image: locally-built-nexus3:{{ nexus_version }}
    container_name: nexus
    hostname: nexus
    restart: unless-stopped
    volumes:
      - "{{ nexus_container_config_folder }}/data:/nexus-data"
    environment:
      NEXUS_SECRETS_KEY_FILE: /nexus-data/nexus.secrets.json
    logging:
      driver: json-file
      options:
        max-size: 250m
        max-file: "1"

networks:
  default:
    name: "{{ nexus_docker_network }}"
    external: true
