---
services:
  nexus:
    image: sonatype/nexus3:{{ nexus_version }}
    container_name: nexus
    hostname: nexus
    restart: unless-stopped
    volumes:
      - "{{ container_config_folder }}/data:/nexus-data"
    logging:
      driver: json-file
      options:
        max-size: 250m
        max-file: "1"

networks:
  default:
    name: "{{ docker_network }}"
    external: true
