---
- name: Including secrets save tasks...
  delegate_to: localhost
  become: false
  block:
    - name: Listing all secrets in {{ secrets_by_group | map(attribute='vault_path') | first }}...
      ansible.builtin.uri:
        url: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
        method: GET
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token | default(auth.json.auth.client_token) }}"
        body_format: json
        validate_certs: "{{ validate_vault_certs }}"
        status_code:
          - 200
          - 404
      register: existing_secrets

    - name: Creating {{ secrets_by_group | map(attribute='vault_path') | first }} path...
      ansible.builtin.uri:
        url: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
        method: POST
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token | default(auth.json.auth.client_token) }}"
        body:
          data: {}
        validate_certs: "{{ validate_vault_certs }}"
        body_format: json
      when: existing_secrets.status == 404

    - name: Updating following secrets in {{ secrets_by_group | map(attribute='vault_path') | first }}...
      ansible.builtin.uri:
        url: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
        method: PATCH
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token | default(auth.json.auth.client_token) }}"
          Content-Type: application/merge-patch+json
        body: "{{ {'data': {account_key_name if sct.username is defined else sct.key:
          (sct.value | default(sct.password) | default(secrets_to_vault_autogenerated_key_secret))}} }}"
        body_format: json
        validate_certs: "{{ validate_vault_certs }}"
      loop: "{{ secrets_by_group }}"
      loop_control:
        loop_var: sct
        label: "{{ account_key_name if sct.username is defined else sct.key }}"
      when: autogenerated_secret or sct.autogenerated_secret | default(false)

    - name: Saving following secrets to {{ secrets_by_group | map(attribute='vault_path') | first }}...
      ansible.builtin.uri:
        url: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
        method: PATCH
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token | default(auth.json.auth.client_token) }}"
          Content-Type: application/merge-patch+json
        body: "{{ {'data': {account_key_name if sct.username is defined else sct.key:
          (sct.value | default(sct.password) | default(secrets_to_vault_autogenerated_key_secret))}} }}"
        body_format: json
        validate_certs: "{{ validate_vault_certs }}"
      loop: "{{ secrets_by_group }}"
      loop_control:
        loop_var: sct
        label: "{{ account_key_name if sct.username is defined else sct.key }}"
      when:
        - existing_secrets.status == 404 or (account_key_name if sct.username is defined else sct.key) not in existing_secrets.json.data.data | default([])
        - not autogenerated_secret or not sct.autogenerated_secret | default(false)
