---
- name: Getting Authentication token for {{ secrets_vault_address | default('') }}...
  ansible.builtin.uri:
    url: "{{ secrets_vault_address }}/v1/auth/ldap/login/{{ vault_username }}"
    method: POST
    body:
      password: "{{ vault_password }}"
    status_code: 200
    validate_certs: "{{ validate_vault_certs }}"
    body_format: json
  register: auth
  delegate_to: localhost
  become: false
  when: vault_access_token is not defined # This usually comes from nova.core.deploy_vars role

- name: Including pre-secrets and accounts save tasks...
  ansible.builtin.include_tasks: save_pre_secrets_and_accounts.yml
  when: secrets == []

- name: Including save secrets tasks for secrets...
  ansible.builtin.include_tasks: save_secrets.yml
  when: secrets != []

# This is needed so that the fact does not persist when including this role multiple times
- name: Clearing secrets_to_vault_enriched_list fact...
  ansible.builtin.set_fact:
    secrets_to_vault_enriched_list: []
