---
- name: Getting Authentication token for {{ secrets_vault_address | default('') }}...
  ansible.builtin.uri:
    url: "{{ secrets_vault_address }}/v1/auth/ldap/login/{{ vault_username }}"
    method: POST
    body:
      password: "{{ vault_password }}"
    status_code: 200
    validate_certs: "{{ validate_vault_certs }}"
    body_format: json
  register: auth
  delegate_to: localhost
  become: false
  when: vault_access_token is not defined # This usually comes from nova.core.deploy_vars role

# This usually get's defined in group_vars or host_vars
- name: Including save pre secrets tasks for secrets...
  ansible.builtin.include_tasks: save_pre_secrets.yml
  loop: "{{ secrets_to_vault_pre_deploy_secrets }}"
  loop_control:
    loop_var: sct
    label: "{{ sct.key }}"
  when:
    - secrets_to_vault_pre_deploy_secrets != []
    - secrets == []

# This usually get's passed as a variable to the role
- name: Including save secrets tasks for secrets...
  ansible.builtin.include_tasks: save_secrets.yml
  loop: "{{ secrets }}"
  loop_control:
    loop_var: sct
    label: "{{ sct.key }}"
  when: secrets != []

# Combine all account types to one list
# Since this can use Vault lookups, we want to avoid evaluating it unless needed
# For that reason, this variable is set by set_fact instead of defaults/main.yml
- name: Setting accounts variable
  ansible.builtin.set_fact:
    accounts: "{{ user_accounts + admin_accounts + domain_user_accounts }}"

- name: Including accounts save secrets tasks...
  ansible.builtin.include_tasks: save_account_password.yml
  loop: "{{ accounts if secrets == [] else [] }}" # This is to avoid evaluating Vault lookups when not saving account passwords to Vault
  loop_control:
    loop_var: sct
    label: "{{ sct.username }}"
  when:
    - secrets == []
    - customization_context == "host" # Alternative is container that doesn't need this task because it's running on the host
    - sct.save_password_to_vault | default(true)
