---
# Combine all account types to one list
# Since this can use Vault lookups, we want to avoid evaluating it unless needed
# For that reason, this variable is set by set_fact instead of defaults/main.yml
# Also only set if customization_context is host meaning not saving account passwords for containers
- name: Setting accounts variable
  ansible.builtin.set_fact:
    accounts: "{{ (user_accounts + admin_accounts + domain_user_accounts) if customization_context == 'host' else [] }}"

- name: Appending Vault path to each secret...
  ansible.builtin.set_fact:
    secrets_to_vault_enriched_list: "{{ secrets_to_vault_enriched_list | default([]) + [sct | combine({'vault_path': secrets_vault_data_fullpath})] }}"
  loop: "{{ accounts + secrets_to_vault_pre_deploy_secrets }}"
  loop_control:
    loop_var: sct
    label: "{{ sct.key | default(sct.username) }}"
  when: sct.save_password_to_vault | default(true)

# This loop will group the secrets by their vault_path to to avoid running requests multiple times for the same path
- name: Including check and add secrets tasks...
  ansible.builtin.include_tasks: check_and_add.yml
  loop: "{{ secrets_to_vault_enriched_list | default([]) | ansible.builtin.groupby('vault_path') | list | map(attribute='1') | list }}"
  loop_control:
    loop_var: secrets_by_group
    label: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
  when: secrets_to_vault_enriched_list != []
