---
- name: Appending Vault path to each secret...
  ansible.builtin.set_fact:
    secrets_to_vault_enriched_list: "{{ secrets_to_vault_enriched_list | default([]) + [sct | combine({'vault_path': secrets_vault_data_fullpath})] }}"
  loop: "{{ secrets }}"
  loop_control:
    loop_var: sct
    label: "{{ sct.key }}"

# This loop will group the secrets by their vault_path to to avoid running requests multiple times for the same path
- name: Including check and add secrets tasks...
  ansible.builtin.include_tasks: check_and_add.yml
  loop: "{{ secrets_to_vault_enriched_list | ansible.builtin.groupby('vault_path') | list | map(attribute='1') | list }}"
  loop_control:
    loop_var: secrets_by_group
    label: "{{ secrets_by_group | map(attribute='vault_path') | first }}"
