---
- name: Check if previous installation is cloned
  ansible.builtin.stat:
    path: /{{ providentia_install_dir }}/CURRENT_VERSION
  register: providentia_current_version_stat

- name: Stop previous installation
  community.general.make:
    chdir: "{{ providentia_install_dir }}"
    target: stop
  when: providentia_current_version_stat.stat.exists

- name: Pulling ghcr.io/clarifiedsecurity/providentia:{{ providentia_image_version }}
  community.docker.docker_image_pull:
    name: ghcr.io/clarifiedsecurity/providentia:{{ providentia_image_version }}

- name: Get image info
  community.docker.docker_image_info:
    name: ghcr.io/clarifiedsecurity/providentia:{{ providentia_image_version }}
  register: providentia_image

- name: Template Providentia configuration
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ providentia_install_dir }}/"
    lstrip_blocks: true
    mode: "0644"
  loop:
    - docker-compose.yml
    - Makefile
  vars:
    cmd_and_entrypoint_needed: "{{ providentia_image.images[0].Config.Entrypoint is ansible.builtin.falsy }}"

- name: Template builtin keycloak configuration
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ providentia_install_dir }}/"
    lstrip_blocks: true
    mode: "0644"
  loop:
    - initdb_keycloak.sql
    - keycloak-config.yml
  when: providentia_builtin_keycloak

- name: Composing Providentia...
  community.docker.docker_compose_v2:
    project_src: "{{ providentia_install_dir }}"
    state: present
    wait: true
