---
- name: Starting following Proxmox services...
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
  loop:
    - pve-cluster
    - pvedaemon
    - pveproxy
    - pvestatd
  listen: starting_proxmox_services

- name: Regenerating Proxmox certificates...
  ansible.builtin.command: pvecm updatecerts --force
  changed_when: true
  listen: starting_proxmox_services

- name: Setting reboot_on_finalize to true... # This will reboot the VM during nova.core.finalize role
  ansible.builtin.set_fact:
    reboot_on_finalize: true
  listen:
    - starting_proxmox_services
    - pf_sense_reboot

- name: Restarting systemd-timesyncd.service...
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted
  listen: restart_systemd_timesyncd

- name: Restarting chronyd.service...
  ansible.builtin.systemd:
    name: chronyd
    state: restarted
  listen: restart_chronyd
