---
- name: Delegating all powerstate tasks to localhost...
  delegate_to: localhost
  become: false
  block:
    - name: Looking up the {{ custom_vm_name | default(vm_name) }} VM...
      vmware.vmware_rest.vcenter_vm_info:
        filter_names: "{{ custom_vm_name | default(vm_name) }}"
      register: vcenter_vm_info
      until: not vcenter_vm_info.failed
      retries: 5
      delay: 2

    - name: ERROR
      ansible.builtin.fail:
        msg: "{{ custom_vm_name | default(vm_name) }} VM not found!"
      when: vcenter_vm_info.value == []

    - name: Waiting until VMTools are running on {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware_rest.vcenter_vm_tools_info:
        vm: "{{ vcenter_vm_info.value[0].vm }}"
      register: vm_tools
      until:
        - vm_tools.value.run_state is defined
        - vm_tools.value.run_state == "RUNNING"
      retries: "{{ powerstate_vmtools_retries }}"
      delay: "{{ powerstate_vmtools_delay }}"
      when:
        - vcenter_vm_info.value[0].power_state != "POWERED_OFF"
        - vcenter_vm_info.value[0].power_state != "SUSPENDED"
        - not reset and not poweroff

    - name: Including {{ custom_vm_name | default(vm_name) }} poweron tasks...
      ansible.builtin.include_tasks: poweron.yml
      when: poweron

    - name: Including {{ custom_vm_name | default(vm_name) }} reset tasks...
      ansible.builtin.include_tasks: reset.yml
      when: reset

    - name: Including {{ custom_vm_name | default(vm_name) }} restart tasks...
      ansible.builtin.include_tasks: restart.yml
      when: restart

    - name: Including {{ custom_vm_name | default(vm_name) }} suspend tasks...
      ansible.builtin.include_tasks: suspend.yml
      when:
        - suspend
        - vcenter_vm_info.value[0].power_state != "POWERED_OFF"

    - name: Including {{ custom_vm_name | default(vm_name) }} shutdown tasks...
      ansible.builtin.include_tasks: shutdown.yml
      when:
        - shutdown
        - vcenter_vm_info.value[0].power_state != "POWERED_OFF"

    - name: Including {{ custom_vm_name | default(vm_name) }} poweroff tasks...
      ansible.builtin.include_tasks: poweroff.yml
      when:
        - poweroff
        - vcenter_vm_info.value[0].power_state != "POWERED_OFF"
