---
- name: Delegating poweron tasks to localhost...
  delegate_to: localhost
  become: false
  block:
    - name: Powering on {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware_rest.vcenter_vm_power:
        state: start
        vm: "{{ vcenter_vm_info.value[0].vm }}"
      register: vcenter_vm_start
      until: not vcenter_vm_start.failed
      retries: 5
      delay: 2
      when: vcenter_vm_info.value[0].power_state != "POWERED_ON"

    - name: Waiting for {{ custom_vm_name | default(vm_name) }} poweron...
      vmware.vmware_rest.vcenter_vm_guest_power_info:
        vm: "{{ vcenter_vm_info.value[0].vm }}"
      register: poweron_status
      until:
        - poweron_status.value.state is defined
        - poweron_status.value.state == "RUNNING"
      retries: 18
      delay: 10
