---
- name: Delegating poweron tasks to localhost...
  delegate_to: localhost
  become: false
  block:
    - name: Powering on {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware.vm_powerstate:
        name: "{{ custom_vm_name | default(vm_name) }}"
        datacenter: "{{ datacenter }}"
        state: powered-on
        force: true # Required to power on a VM that is in a suspended state

    - name: Waiting for VMware tools to become available...
      community.vmware.vmware_guest_tools_wait:
        name: "{{ custom_vm_name | default(vm_name) }}"
