---
- name: Delegating reset tasks to localhost...
  delegate_to: localhost
  become: false
  block:
    - name: Resetting {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware.vm_powerstate:
        name: "{{ custom_vm_name | default(vm_name) }}"
        datacenter: "{{ datacenter }}"
        state: restarted
        force: true
