---
- name: DEPRECATED STORAGE MODE
  ansible.builtin.fail:
    msg: |
      The "s3" file storage mode is deprecated and cannot be no longer used with this role.
      Migrate your data from s3 to local storage and remove the outline_file_storage_mode variable from your code
  when:
    - outline_file_storage_mode is defined
    - outline_file_storage_mode == "s3"

- name: MISSING REQUIRED VARIABLES
  ansible.builtin.fail:
    msg: |
      You are missing following variables:

      {% for variable in required_variables %}
      {% if vars[variable] is defined %}
      {% set evaluated = lookup('vars', variable) %}
      {% if evaluated is ansible.builtin.falsy %}
        - {{ variable }}
      {% endif %}
      {% else %}
        - {{ variable }}
      {% endif %}
      {% endfor %}

      Make sure they are added to your project and passed to the role correctly.
  vars:
    required_variables:
      - outline_secret_key
      - outline_utils_secret_key
      - postgres_password
  when: outline_secret_key | default(false) is ansible.builtin.falsy
    or outline_utils_secret_key | default(false) is ansible.builtin.falsy
    or postgres_password | default(false) is ansible.builtin.falsy

- name: Create directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    recurse: true
    state: directory
    owner: "{{ item.owner | default(omit) }}"
  with_items:
    - path: "{{ app_container_folder }}"
    - path: "{{ redis_container_folder }}"
    - path: "{{ db_container_folder }}"
    - path: "{{ db_container_folder }}/database-data"
    - path: "{{ outline_local_file_storage_folder }}"
      owner: 1001 # nodejs user inside the container

- name: Templating Docker Compose file for Outline...
  ansible.builtin.template:
    src: docker-compose.j2
    dest: "{{ app_container_folder }}/docker-compose.yml"
    mode: "0600"

- name: Composing Outline on {{ inventory_hostname }}...
  community.docker.docker_compose_v2:
    project_src: "{{ app_container_folder }}"
    state: present
    build: never
    wait: true
