---
- name: Missing required variables...
  ansible.builtin.fail:
    msg: |
      Following variables are required to run this role:
      - keycloak_admin_password
      - keycloak_postgres_db_password
  when: keycloak_admin_password == {} or keycloak_postgres_db_password == {}

- name: Creating following configuration folders...
  ansible.builtin.file:
    path: "{{ dir.path }}"
    state: directory
    recurse: true
    owner: "{{ dir.owner }}"
  loop_control:
    loop_var: dir
  loop:
    - path: "{{ keycloak_container_config_folder }}/data"
      owner: 1000
    - path: "{{ keycloak_container_config_folder }}/postgres"
      owner: 999

- name: Templating configuration to machine...
  ansible.builtin.template:
    src: "{{ config.src }}"
    dest: "{{ keycloak_container_config_folder }}/{{ config.dest }}"
    lstrip_blocks: true
    mode: "0644"
  register: template
  loop_control:
    loop_var: config
  loop:
    - src: keycloak.yml
      dest: docker-compose.yml
    - src: config.j2
      dest: config.yml

- name: Composing Keycloak on {{ inventory_hostname }}...
  community.docker.docker_compose_v2:
    project_src: "{{ keycloak_container_config_folder }}"
    state: present
    wait: true

- name: Waiting until keycloak-config container exits...
  community.docker.docker_container_info:
    name: keycloak-config
  register: keycloak_config_status
  until: keycloak_config_status.container.State.Running == false
  retries: "{{ (keycloak_config_timeout_seconds if keycloak_config_timeout_seconds >= 2 else 2) // 2 }}"
  delay: 2

- name: Keycloak configuration failed...
  ansible.builtin.fail:
    msg: |
      Keycloak configuration failed. Login to {{ fqdn | default('Keycloak server') }} and check the logs with:
      sudo docker logs keycloak-config
  when: keycloak_config_status.container.State.ExitCode != 0

- name: Finding and restarting proxy container...
  when:
    - keycloak_proxy_container_name != {}
    - template.changed
  block:
    - name: Looking for container - {{ keycloak_proxy_container_name }}...
      community.docker.docker_container_info:
        name: "{{ keycloak_proxy_container_name }}"
      register: proxy_container_check

    - name: Restarting {{ keycloak_proxy_container_name }}...
      community.docker.docker_container:
        name: "{{ keycloak_proxy_container_name }}"
        state: started
        restart: true
        container_default_behavior: no_defaults
      when: proxy_container_check.exists
