---
# Skipping deps and proxy config when only reconfiguring single service
- name: Configuring prerequisites and proxy
  when: monolith_single_service is not defined
  block:
    - name: Including prerequisites tasks...
      ansible.builtin.include_tasks:
        file: prerequisites.yml

    - name: Including Caddy role...
      ansible.builtin.include_role:
        name: nova.core.caddy
      vars:
        # Will be used only if no pre-existing certificate is found
        caddy_self_signed_certificate_subject_alt_name: "{{ monolith_caddy_self_signed_certificate_subject_alt_name }}"
        caddy_servers: "{{ monolith_default_caddy_servers + monolith_extra_caddy_servers }}"

    - name: Downloading and trusting self-signed certificate...
      when: caddy_generate_self_signed_certificate is defined
      block:
        - name: Getting self-signed certificate contents...
          ansible.builtin.slurp:
            src: /srv/certs/{{ fqdn }}_fullchain.crt
          register: monolith_self_signed_certificate

        - name: Copying self-signed certificate to /usr/local/share/ca-certificates/{{ fqdn }}.crt...
          ansible.builtin.copy:
            content: "{{ monolith_self_signed_certificate.content | b64decode }}"
            dest: /usr/local/share/ca-certificates/{{ fqdn }}.crt
            mode: "0644"

        - name: Copying self-signed certificate to /usr/local/share/ca-certificates/{{ fqdn }}.crt...
          ansible.builtin.copy:
            content: "{{ monolith_self_signed_certificate.content | b64decode }}"
            dest: /usr/local/share/ca-certificates/{{ fqdn }}.crt
            mode: "0644"
          delegate_to: localhost
          become: true

        - name: Updating remote CA certificates...
          ansible.builtin.command: update-ca-certificates
          changed_when: true
          retries: 5
          delay: 2

        - name: Updating local CA certificates...
          ansible.builtin.command: update-ca-certificates
          changed_when: true
          delegate_to: localhost
          become: true
          retries: 5
          delay: 2

# This is so we don't need to include vault.yml if using monolith_single_service for only configuring single service
- name: Checking if Vault credentials already exist...
  ansible.builtin.stat:
    path: /srv/vault/creds/root_token
  register: vault_creds_state

- name: Getting Vault token...
  when: vault_creds_state.stat.exists
  block:
    - name: Getting Vault root token & unseal key...
      ansible.builtin.command: cat /srv/vault/creds/root_token
      changed_when: false
      register: vault_creds

    - name: Generating Hashicorp Vault token for {{ monolith_vault_fqdn }}...
      community.hashi_vault.vault_login:
        url: https://{{ monolith_vault_fqdn }}
        auth_method: token
        token: "{{ vault_creds.stdout }}"
        validate_certs: "{{ vault_validate_cert | default(true) }}"
      register: monolith_vault_token

    - name: Setting vault_access_token fact...
      ansible.builtin.set_fact:
        vault_already_configured: true
        vault_access_token: "{{ monolith_vault_token.login.auth.client_token }}"
        vault_lookup_fragment: "url=https://{{ monolith_vault_fqdn }} token={{ monolith_vault_token.login.auth.client_token }} "

- name: Including following service configuration tasks...
  ansible.builtin.include_tasks:
    file: "{{ service }}.yml"
  loop_control:
    loop_var: service
  loop:
    - vault
    - keycloak
    - providentia
    - nexus
  when: monolith_single_service is not defined

- name: Including following single service configuration tasks...
  ansible.builtin.include_tasks:
    file: "{{ monolith_single_service }}.yml"
  when: monolith_single_service is defined

- name: Checking for Vault certificate request marker...
  ansible.builtin.stat:
    path: /srv/certs/request_from_vault
  register: vault_request_marker

# This means that no pre-existing certificate was found before monolith role was executed
# So requesting a new certificate from Vault
- name: Requesting a certificate for web proxy...
  when: vault_request_marker.stat.exists
  block:
    - name: Checking for existing certificate...
      ansible.builtin.stat:
        path: /srv/certs/{{ fqdn }}_certificate.crt
      register: certificate

    - name: Getting info about existing certificate...
      community.crypto.x509_certificate_info:
        path: /srv/certs/{{ fqdn }}_certificate.crt
        valid_at:
          certificate_valid: +8w
      register: certificate_is_valid
      when: certificate.stat.exists

    - name: Requesting new certificate...
      when: (not certificate.stat.exists or not certificate_is_valid.valid_at.certificate_valid)
      block:
        - name: Creating folders for certificates...
          ansible.builtin.file:
            path: /srv/certs
            state: directory
            mode: "0700"

        - name: Requesting certificate...
          ansible.builtin.uri:
            url:
              https://{{ monolith_vault_fqdn }}/v1/{{ vault_intermediate_ca_pki_engine_name
              | default(vault_intermediate_cas[0].vault_intermediate_ca_pki_engine_name)
              | default('IntermediateCA') }}/issue/server_ec
            method: POST
            headers:
              X-Vault-Request: true
              X-Vault-Token: "{{ root_token }}"
            body:
              name: "{{ fqdn }}"
              common_name: "{{ fqdn }}"
              alt_names: "{{ monolith_providentia_fqdn }},{{ monolith_nexus_fqdn }},{{ monolith_keycloak_fqdn }},{{ monolith_vault_fqdn }}"
            body_format: json
            validate_certs: true
          register: cert_req

        - name: Saving certificates to target...
          ansible.builtin.copy:
            content: "{{ cert_file.content }}"
            dest: "{{ cert_file.dest }}"
            mode: "0600"
          loop:
            - content: "{{ cert_req.json.data.certificate }}"
              dest: /srv/certs/{{ fqdn }}_certificate.crt
            - content: "{{ cert_req.json.data.issuing_ca }}"
              dest: /srv/certs/{{ fqdn }}_issuing_ca.crt
            - content: "{{ cert_req.json.data.private_key }}"
              dest: /srv/certs/{{ fqdn }}_key.crt
          loop_control:
            loop_var: cert_file
            label: "{{ cert_file.dest }}"

        - name: Creating a certificate & issuing CA combination file...
          ansible.builtin.shell: |
            cat "/srv/certs/{{ fqdn }}_certificate.crt" > "/srv/certs/{{ fqdn }}_fullchain.crt"
            echo "" >> "/srv/certs/{{ fqdn }}_fullchain.crt"
            cat "/srv/certs/{{ fqdn }}_issuing_ca.crt" >> "/srv/certs/{{ fqdn }}_fullchain.crt"
          changed_when: true

        - name: Creating a private & public key combination file...
          ansible.builtin.shell: |
            cat "/srv/certs/{{ fqdn }}_fullchain.crt" > "/srv/certs/{{ fqdn }}_combined.crt"
            echo "" >> "/srv/certs/{{ fqdn }}_combined.crt"
            cat "/srv/certs/{{ fqdn }}_key.crt" >> "/srv/certs/{{ fqdn }}_combined.crt"
          changed_when: true

        - name: Restarting Caddy...
          community.docker.docker_container:
            name: caddy
            state: started
            restart: true
            container_default_behavior: no_defaults
