---
- name: Installing Vault requirements...
  ansible.builtin.package:
    name:
      - python3-hvac
      - python3-cryptography
    state: present
    update_cache: true

- name: Including Vault role...
  ansible.builtin.include_role:
    name: nova.core.vault
  vars:
    vault_configure: true
    # Configuring LDAP only if Samba4 is not being installed, otherwise it will be configured in dc.yml after generating the required secrets
    vault_configure_ldap: "{{ not monolith_install_samba }}"
    vault_configuration_uri: https://{{ monolith_vault_fqdn }}
    secrets_vault_engine_path: monolith
    secrets_vault_secrets_path: vault

- name: Trusting Vault generated Root CA...
  # This means that CA was also installed and configured with the Vault role
  when: vault_create_root_ca | default(true)
  block:
    - name: Including nova.core.trusted_certificates role...
      ansible.builtin.include_role:
        name: nova.core.trusted_certificates
      vars:
        trusted_certificates_list:
          - name: "{{ project_fullname }} Monolith Root CA"
            src: https://{{ monolith_vault_fqdn }}/v1/{{ vault_root_cas[0].vault_root_ca_pki_engine_name | default('RootCA') }}/ca/pem

    - name: Getting Root CA certificate contents...
      ansible.builtin.slurp:
        src: /usr/local/share/ca-certificates/{{ project_fullname }} Monolith Root CA.crt
      register: monolith_vault_root_ca

    - name: Copying {{ vault_root_cas[0].vault_root_ca_name | default('RootCA')
        }} certificate to /usr/local/share/ca-certificates/{{ vault_root_cas[0].vault_root_ca_name
        | default('RootCA') }}.crt...
      ansible.builtin.copy:
        content: "{{ monolith_vault_root_ca.content | b64decode }}"
        dest: /usr/local/share/ca-certificates/{{ project_fullname }} Monolith Root CA.crt
        mode: "0644"
      delegate_to: localhost
      become: true
      notify: monolith_restart_samba

    # This is a Catapult specific location for trusted certificates
    - name: Checking if /srv/personal/certificates exists...
      ansible.builtin.stat:
        path: /srv/personal/certificates
      register: personal_certificates_exists
      delegate_to: localhost
      become: true

    - name: Copying {{ vault_root_cas[0].vault_root_ca_name | default('RootCA')
        }} certificate to /srv/personal/certificates/{{ vault_root_cas[0].vault_root_ca_name
        | default('RootCA') }}.crt...
      ansible.builtin.copy:
        content: "{{ monolith_vault_root_ca.content | b64decode }}"
        dest: /srv/personal/certificates/{{ project_fullname }} Monolith Root CA.crt
        mode: "0644"
      delegate_to: localhost
      become: true
      when: personal_certificates_exists.stat.exists

    - name: Updating local CA certificates...
      ansible.builtin.command: update-ca-certificates
      changed_when: true
      delegate_to: localhost
      become: true
      retries: 5
      delay: 2

- name: Getting Vault root token & unseal key...
  ansible.builtin.command: cat {{ monolith_vault_key }}
  changed_when: false
  loop_control:
    loop_var: monolith_vault_key
  loop:
    - /srv/vault/creds/root_token
    - /srv/vault/creds/unseal_key
  register: vault_creds

- name: Generating Hashicorp Vault token for {{ monolith_vault_fqdn }}...
  community.hashi_vault.vault_login:
    url: "https://{{ monolith_vault_fqdn }}"
    auth_method: token
    token: "{{ vault_creds.results[0].stdout }}"
    validate_certs: "{{ vault_validate_cert | default(true) }}"
  register: monolith_vault_token

- name: Setting vault_access_token fact...
  ansible.builtin.set_fact:
    vault_access_token: "{{ monolith_vault_token.login.auth.client_token }}"
    root_token: "{{ vault_creds.results[0].stdout }}"
    vault_lookup_fragment: "url=https://{{ monolith_vault_fqdn }} token={{ monolith_vault_token.login.auth.client_token }} "

- name: Listing all mounts...
  ansible.builtin.uri:
    url: "https://{{ monolith_vault_fqdn }}/v1/sys/mounts"
    method: GET
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_access_token }}"
    body_format: json
    validate_certs: "{{ vault_validate_cert | default(true) }}"
  register: all_auth_methods

- name: Configuring {{ secrets_vault_engine_path }} KV engine...
  ansible.builtin.uri:
    url:
      "https://{{ monolith_vault_fqdn }}/v1/sys/mounts/{{ secrets_vault_engine_path + '/tune' if secrets_vault_engine_path
      + '/' in all_auth_methods.json.data else secrets_vault_engine_path }}"
    method: POST
    headers:
      X-Vault-Request: true
      X-Vault-Token: "{{ vault_access_token }}"
    body:
      type: kv
      options:
        version: 2
    body_format: json
    validate_certs: "{{ vault_validate_cert | default(true) }}"
    status_code: 204
  vars:
    secrets_vault_engine_path: monolith

- name: Including nova.core.secrets_to_vault role...
  ansible.builtin.include_role:
    name: nova.core.secrets_to_vault
  vars:
    secrets_vault_address: "https://{{ monolith_vault_fqdn }}"
    secrets_vault_engine_path: monolith
    secrets_vault_secrets_path: vault
    autogenerated_secret: true
    secrets:
      - key: "{{ inventory_hostname }}_vault_root_token"
        value: "{{ vault_creds.results[0].stdout }}"
      - key: "{{ inventory_hostname }}_vault_unseal_key"
        value: "{{ vault_creds.results[1].stdout }}"
