---
- name: Installing Vault requirements...
  ansible.builtin.package:
    name: python3-hvac
    state: present
    update_cache: true

- name: Including Vault role...
  ansible.builtin.include_role:
    name: nova.core.vault
  vars:
    vault_configure: true
    vault_configure_ldap: true
    vault_configuration_uri: "https://{{ monolith_vault_fqdn }}"
    secrets_vault_secrets_path: vault

- name: Running Vault post-configurations...
  when: not vault_already_configured | default(false)
  block:
    - name: Getting Vault root token & unseal key...
      ansible.builtin.command: cat {{ monolith_vault_key }}
      changed_when: false
      loop_control:
        loop_var: monolith_vault_key
      loop:
        - /srv/vault/creds/root_token
        - /srv/vault/creds/unseal_key
      register: vault_creds

    - name: Generating Hashicorp Vault token for {{ monolith_vault_fqdn }}...
      community.hashi_vault.vault_login:
        url: "https://{{ monolith_vault_fqdn }}"
        auth_method: token
        token: "{{ vault_creds.results[0].stdout }}"
        validate_certs: "{{ vault_validate_cert | default(true) }}"
      register: deploy_vars_vault_token

    - name: Setting vault_access_token fact...
      ansible.builtin.set_fact:
        vault_access_token: "{{ deploy_vars_vault_token.login.auth.client_token }}"
        root_token: "{{ vault_creds.results[0].stdout }}"
        vault_lookup_fragment: "url=https://{{ monolith_vault_fqdn }} token={{ vault_access_token }} "

    - name: Listing all mounts...
      ansible.builtin.uri:
        url: "https://{{ monolith_vault_fqdn }}/v1/sys/mounts"
        method: GET
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token }}"
        body_format: json
        validate_certs: "{{ vault_validate_cert | default(true) }}"
      register: all_auth_methods

    - name: Configuring {{ secrets_vault_engine_path }} KV engine...
      ansible.builtin.uri:
        url:
          "https://{{ monolith_vault_fqdn }}/v1/sys/mounts/{{ secrets_vault_engine_path + '/tune' if secrets_vault_engine_path
          + '/' in all_auth_methods.json.data else secrets_vault_engine_path }}"
        method: POST
        headers:
          X-Vault-Request: true
          X-Vault-Token: "{{ vault_access_token }}"
        body:
          type: kv
          options:
            version: 2
        body_format: json
        validate_certs: "{{ vault_validate_cert | default(true) }}"
        status_code: 204

    - name: Including nova.core.secrets_to_vault role...
      ansible.builtin.include_role:
        name: nova.core.secrets_to_vault
      vars:
        secrets_vault_address: "https://{{ monolith_vault_fqdn }}"
        secrets_vault_secrets_path: vault
        autogenerated_secret: true
        secrets:
          - key: "{{ inventory_hostname }}_vault_root_token"
            value: "{{ vault_creds.results[0].stdout }}"
          - key: "{{ inventory_hostname }}_vault_unseal_key"
            value: "{{ vault_creds.results[1].stdout }}"
