---
- name: Configuring {{ inventory_hostname }} hostname...
  fortinet.fortios.fortios_system_global:
    system_global:
      hostname: "{{ hostname }}"

- name: Configure NTP servers on {{ inventory_hostname }}...
  fortinet.fortios.fortios_system_ntp:
    system_ntp:
      ntpserver:
        - id: 1
          server: "{{ ntp_servers[0] }}"
