---
- name: Removing cloud managed hostname...
  ansible.builtin.replace:
    dest: /etc/cloud/cloud.cfg
    regexp: ^ - update_etc_hosts
    replace: "# - update_etc_hosts"

- name: Installing Gnome for Ubuntu Desktop...
  when: group_names | intersect(["os_ubuntu_desktop_20_04", "os_ubuntu_desktop_22_04", "os_ubuntu_desktop_24_04"]) | length > 0
  block:
    - name: Trying to install Gnome...
      block:
        # The Gnome installation can fail if the OS is not fully up-to-date
        - name: Including nova.core.updates role...
          ansible.builtin.include_role:
            name: nova.core.updates

        - name: Installing Gnome...
          ansible.builtin.apt:
            name: ubuntu-gnome-desktop
            state: present
            update_cache: true

      rescue:
        - name: Restarting {{ custom_vm_name | default(vm_name) }} VM...
          ansible.builtin.include_role:
            name: nova.core.powerstate
          vars:
            restart: true

        - name: Retrying Gnome installation...
          ansible.builtin.apt:
            name: ubuntu-gnome-desktop
            state: present
            update_cache: true

- name: Installing Xfce for Kali...
  when: ansible_facts.distribution == "Kali"
  block:
    - name: Trying to install Xfce...
      block:
        # The Xfce installation can fail if the OS is not fully up-to-date
        - name: Including nova.core.updates role...
          ansible.builtin.include_role:
            name: nova.core.updates

        - name: Installing Xfce...
          ansible.builtin.apt:
            name: kali-desktop-xfce
            state: present
            update_cache: true

      rescue:
        - name: Restarting {{ custom_vm_name | default(vm_name) }} VM...
          ansible.builtin.include_role:
            name: nova.core.powerstate
          vars:
            restart: true

        - name: Retrying Xfce installation...
          ansible.builtin.apt:
            name: kali-desktop-xfce
            state: present
            update_cache: true

- name: Including XRDP roles...
  ansible.builtin.include_role:
    name: "{{ item }}"
  loop:
    - nova.core.linux_xrdp_server
    - nova.core.linux_xrdp_keyboard
  when: group_names | intersect(["os_ubuntu_desktop_20_04", "os_ubuntu_desktop_22_04", "os_ubuntu_desktop_24_04", "os_kali"]) | length > 0
