---
- name: Removing cloud managed hostname...
  ansible.builtin.replace:
    dest: /etc/cloud/cloud.cfg
    regexp: ^ - update_etc_hosts
    replace: "# - update_etc_hosts"

- name: Installing Gnome for Ubuntu Desktop...
  ansible.builtin.apt:
    name: ubuntu-gnome-desktop
    state: present
    update_cache: true
  when: group_names | intersect(["os_ubuntu_desktop_20_04", "os_ubuntu_desktop_22_04", "os_ubuntu_desktop_24_04"]) | length > 0

- name: Installing Xfce for Kali...
  ansible.builtin.apt:
    name: kali-desktop-xfce
    state: present
    update_cache: true
  when: ansible_facts.distribution == "Kali"

- name: Including XRDP roles...
  ansible.builtin.include_role:
    name: "{{ item }}"
  loop:
    - nova.core.linux_xrdp_server
    - nova.core.linux_xrdp_keyboard
  when: group_names | intersect(["os_ubuntu_desktop_20_04", "os_ubuntu_desktop_22_04", "os_ubuntu_desktop_24_04", "os_kali"]) | length > 0
