---
- name: Setting hostname...
  community.routeros.command:
    commands:
      - /system identity set name={{ hostname }}

# Setting NTP servers for RouterOS when NTP server is a DNS name
- name: Setting NTP servers for RouterOS 6...
  community.routeros.command:
    commands:
      - /system ntp client set enabled=yes server-dns-names={{ ntp_servers[0] }} primary-ntp=0.0.0.0 secondary-ntp=0.0.0.0
  when:
    - ansible_facts.net_version.startswith('6')
    - not ntp_servers[0] | ansible.utils.ipaddr

# Setting NTP servers for RouterOS when NTP server is an IP address
- name: Setting NTP servers for RouterOS 6... # noqa: literal-compare
  community.routeros.command:
    commands:
      - /system ntp client set enabled=yes server-dns-names="" primary-ntp={{
        ntp_servers[0] }} secondary-ntp={{ ntp_servers[1] | default(ntp_servers[0]) }}
  when:
    - ansible_facts.net_version.startswith('6')
    - ntp_servers[0] | ansible.utils.ipaddr != false

- name: Setting NTP servers for RouterOS 7...
  community.routeros.command:
    commands:
      - /system ntp client set enabled=yes servers={{ ntp_servers | join(",") }}
  when: ansible_facts.net_version.startswith('7')

- name: Generating new system ID for license...
  community.routeros.command:
    commands: :exec {/system license generate-new-id}

- name: RouterOS missing license warning...
  when:
    - routeros_license_account == {}
    - routeros_license_password == {}
  block:
    - name: WARNING
      ansible.builtin.debug:
        msg: RouterOS routeros_license_account or routeros_license_password is not defined, skipping license configuration

    - name: Sleeping to read WARNING...
      ansible.builtin.wait_for:
        timeout: 30
      become: false
      delegate_to: localhost

- name: Configuring RouterOS licence...
  community.routeros.command:
    commands: /system license renew once level=p-unlimited account={{ routeros_license_account }} password={{ routeros_license_password }}
  when:
    - routeros_license_account != {}
    - routeros_license_password != {}
