---
- name: Configuring Windows...
  ansible.windows.win_shell: "{{ lookup('file', 'Configure-Windows.ps1') }}"

- name: Waiting for internet...
  ansible.windows.win_wait_for:
    host: "{{ wait_for_address }}"
    port: "{{ wait_for_port }}"
    timeout: "{{ wait_for_timeout }}"
  when: wait_for_host

- name: Configuring KMS & activating Windows... # KMS needs to be accessible or the task will fail
  ansible.windows.win_shell: "{{ lookup('template', 'Activate-Windows.ps1') }}"
  when: kms_server != {}

- name: Regenerating Windows SSH host keys...
  ansible.windows.win_shell: "{{ lookup('template', 'Regenerate-HostKeys.ps1') }}"
  register: regenerate_host_keys
  changed_when: regenerate_host_keys.stdout_lines[0] != "Skipping regeneration"
  when: os_configuration_regenerate_windows_host_keys

- name: Changing Windows hostname...
  ansible.windows.win_hostname:
    name: "{{ hostname }}"
  register: win_hostname

- name: Rebooting...
  ansible.windows.win_reboot:
  when: win_hostname.reboot_required

- name: Including Windows in Cloud configuration tasks...
  ansible.builtin.include_tasks: windows_cloud.yml
  when: infra_env in os_configuration_cloud_envs

- name: Including Windows on VMware Workstation configuration tasks...
  ansible.builtin.include_tasks: windows_vmware_workstation.yml
  when: infra_env == "vmware_workstation"
