---
infra_env: {}
admin_accounts: []
user_accounts: []
domain_user_accounts: []
domain_groups: []
sudo_requires_password: true
use_ssh_agent_for_sudo: false
accounts_remove_stale: true # Compares the accounts list with the users on the system created by this role and removes any that are not in the accounts list
fresh_deploy: false # Checks if the machine has just been created, required for setting correct connection parameters for AWS machines

# If true, only the specified ssh key will be allowed for the account, otherwise the key will be appended to the authorized_keys file
accounts_exclusive_ssh_key: true

# The default lookup paths are Vault's KV v2 secret engine and a secrets name under that.
pregenerated_password:
  "{{ lookup('community.hashi_vault.hashi_vault', vault_lookup_fragment + 'secret=' + secrets_vault_engine_path
  | default(environment_name) + '/data/' + secrets_vault_secrets_path | default(project_fullname) + ':' + inventory_hostname + '_' + item.username) }}"
random_generated_password: "{{ lookup('password', '/dev/null length=17 chars=ascii_lowercase,ascii_uppercase,hexdigits,digits') }}"

# Windows defaults
windows_domain_admin_groups:
  - Domain Admins
  - Schema Admins
  - Enterprise Admins

windows_domain_user_groups:
  - Domain Users

windows_admin_groups:
  - Administrators

windows_user_groups:
  - Users

# The strategy to use when configuring domain groups with members
# Only gets used when the domain_groups list has members defined
# 'replace' will remove all members and add the ones specified in the domain_groups list
# 'add' will add the members specified in the domain_groups list to the existing members
accounts_domain_groups_members_strategy: replace

unix_distro_root_group_map:
  Debian: sudo
  CentOS: wheel
  RedHat: wheel
  Ubuntu: sudo
  Kali: sudo
  FreeBSD: wheel
  OpenWrt: wheel
  Archlinux: wheel
  AlmaLinux: wheel
  Parrot: sudo
  VMkernel: root

unix_distro_shell_map:
  FreeBSD: /bin/tcsh

unix_distro_skel_map:
  FreeBSD: /usr/share/skel

unix_distro_sudoers_map:
  FreeBSD: /usr/local/etc/sudoers

accounts_panos_temp_username: temp # The username to use for the temporary account to change the admin_accounts password(s) in PanOS
