---
infra_env: {}
user_accounts: []
domain_user_accounts: []
domain_groups: []
sudo_requires_password: true # Unix & MacOS only
use_ssh_agent_for_sudo: false

# Compares the accounts list with the user profiles on the system created by this role and removes any that are not in the accounts list
accounts_remove_stale: true

# Checks if the system can be rebooted. This should be TRUE, otherwise the role can fail if user_profiles_to_remove are still logged in
accounts_reboot_before_remove: true

fresh_deploy: false # Checks if the machine has just been created, required for setting correct connection parameters for AWS machines
accounts_pre_roles: [] # Extra roles to include as first step in this one
accounts_post_roles: [] # Extra roles to include as last step in this one

# If true, only the specified ssh key will be allowed for the account, otherwise the key will be appended to the authorized_keys file
accounts_exclusive_ssh_key: true

# The default lookup paths are Vault's KV v2 secret engine and a secrets name under that.
pregenerated_password: >-
  {%- if save_secrets_to_vault and item.save_password_to_vault | default(true) -%}
  {{ lookup('community.hashi_vault.hashi_vault', vault_lookup_fragment + 'secret=' + item.secrets_vault_engine_path
    | default(secrets_vault_engine_path) | default(environment_name)
    + '/data/' + item.secrets_vault_secrets_path | default(secrets_vault_secrets_path)
    | default(project_fullname) + ':' + inventory_hostname + '_' + item.username) }}
  {%- else -%}
  {{ lookup('password', '/dev/null length=17 chars=ascii_lowercase,ascii_uppercase,hexdigits,digits') }}
  {%- endif -%}

# Windows defaults
windows_domain_admin_groups:
  - Domain Admins
  - Schema Admins
  - Enterprise Admins

windows_domain_user_groups:
  - Domain Users

windows_admin_groups:
  - Administrators

windows_user_groups:
  - Users

# The strategy to use when configuring domain groups with members
# Only gets used when the domain_groups list has members defined
# 'replace' will remove all members and add the ones specified in the domain_groups list
# 'add' will add the members specified in the domain_groups list to the existing members
accounts_domain_groups_members_strategy: replace

unix_distro_root_group_map:
  AlmaLinux: wheel
  Alpine: root
  Archlinux: wheel
  CentOS: wheel
  Debian: sudo
  FreeBSD: wheel
  Kali: sudo
  OpenWrt: wheel
  Parrot: sudo
  RedHat: wheel
  Ubuntu: sudo
  VMkernel: root

unix_distro_shell_map:
  Alpine: /bin/sh
  FreeBSD: /bin/tcsh

unix_distro_skel_map:
  FreeBSD: /usr/share/skel

unix_distro_sudoers_map:
  FreeBSD: /usr/local/etc/sudoers
  Parrot: /etc/sudoers.d/10-installer

accounts_panos_temp_username: temp # The username to use for the temporary account to change the admin_accounts password(s) in PanOS

# For training, lab and exercise environments in can be very common to have more than (the default accepted by sshd) 6 keys in an ssh agent.
# If that's the case the SSH authentication will fail, so by default setting the MaxAuthTries sshd value to 20.
# Currently this variable is applicable to Unix and Windows hosts
accounts_configure_ssh_maxauthtries: true
accounts_ssh_maxauthtries: 20

# Since different OS families have different service names the sshd service name is set here
accounts_os_family_service_name:
  Debian: ssh
  RedHat: sshd
  Archlinux: sshd
