---
# Can be picked up manually with ssh $(cat /tmp/ansible_connect)
- name: Saving connection info to /tmp/ansible_connect
  ansible.builtin.copy:
    content: -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no {{ '-o PreferredAuthentications=password' if
      connect_connection_method_ssh_preferred_authentication_password else '' }} {{
      ansible_ssh_extra_args | default('') }} {{ connect_user }}@{{ ansible_host }} {{ '-A'
      if connect_connection_method_ssh_forward_agent else '' }}
    dest: /tmp/ansible_connect
    mode: "0600"
  delegate_to: localhost
  become: false
