---
- name: Installing xrdp...
  ansible.builtin.package:
    name:
      - xrdp
      - xorgxrdp{{ '=' + linux_xrdp_server_xorgxrdp_version if linux_xrdp_server_xorgxrdp_version != {} else '' }}
    state: present
    update_cache: true
    allow_downgrades: true
  register: xrdp_install
  until: not xrdp_install.failed
  retries: 5
  delay: 3
  notify: linux_xrdp_server_reboot

# This is to avoid updating xorgxrdp with apt upgrade when it's versioned
- name: "{{ 'Locking' if linux_xrdp_server_xorgxrdp_version != {} else 'Unlocking' }} xorgxrdp version..."
  ansible.builtin.dpkg_selections:
    name: xorgxrdp
    selection: "{{ 'hold' if linux_xrdp_server_xorgxrdp_version != {} else 'install' }}"

- name: Adding xrdp user to ssl-cert group...
  ansible.builtin.user:
    name: xrdp
    groups: ssl-cert
    append: true

- name: Setting XRDP configuration parameters...
  ansible.builtin.lineinfile:
    dest: "{{ xrdp_config.dest }}"
    regexp: "{{ xrdp_config.regexp }}"
    line: "{{ xrdp_config.line }}"
  loop_control:
    loop_var: xrdp_config
    label: "{{ xrdp_config.line }}"
  loop:
    - dest: /etc/X11/Xwrapper.config
      regexp: ^allowed_users=.*
      line: allowed_users=anybody

    - dest: /etc/xrdp/xrdp.ini
      regexp: ^max_bpp=.*
      line: max_bpp=15

    - dest: /etc/xrdp/xrdp.ini
      regexp: ^ls_top_window_bg_color=.*
      line: ls_top_window_bg_color=000000 # Sets the XRDP login screen background color to black

    - dest: /etc/xrdp/xrdp.ini
      regexp: ^#ls_background_image=.*
      line: ls_background_image= # Enables setting login screen background
  notify: Restarting xrdp service...

- name: Including {{ ansible_facts.distribution }} specific tasks...
  ansible.builtin.include_tasks: ubuntu.yml
  when: ansible_facts.distribution == "Ubuntu"

- name: Including {{ ansible_facts.distribution }} specific tasks...
  ansible.builtin.include_tasks: kali.yml
  when: ansible_facts.distribution == 'Kali'

- name: Enabling xrdp service...
  ansible.builtin.systemd_service:
    name: xrdp
    enabled: true
    state: started
