---
- name: ERROR
  ansible.builtin.fail:
    msg: |
      Too many egress interfaces configured for {{ inventory_hostname }}.
      pfSense supports only one egress interface per VM.
  when: interfaces | selectattr('egress', 'equalto', true) | list | length > 1

- name: Configuring pfSense networking...
  become: false
  delegate_to: localhost
  block:
    - name: Preparing /conf/config.xml download...
      ansible.builtin.uri:
        url: https://{{ vmware_defaults.hostname }}/api/vcenter/vm/{{ configure_networking_vsphere_vm_id }}/guest/filesystem?action=create
        method: POST
        headers:
          vmware-api-session-id: "{{ vcenter_session_api_key.json }}"
        body:
          credentials: "{{ rest_api_credentials }}"
          spec:
            path: /conf/config.xml
        status_code: 201
        body_format: json
        validate_certs: "{{ vmware_defaults.validate_certs }}"
      register: file_download_prep

    - name: Downloading /conf/config.xml...
      ansible.builtin.uri:
        url: "{{ file_download_prep.json }}"
        method: GET
        headers:
          vmware-api-session-id: "{{ vcenter_session_api_key.json }}"
        dest: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        status_code: 200
        body_format: json
        validate_certs: "{{ vmware_defaults.validate_certs }}"

    - name: Deleting existing interfaces...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/interfaces/*
        state: absent

    - name: Deleting existing gateways...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/gateways/*
        state: absent

    - name: Deleting existing DNS servers...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/system/dnsserver
        state: absent

    - name: Templating interfaces config...
      ansible.builtin.template:
        src: pfsense.yml
        dest: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_interfaces.yml
        lstrip_blocks: true
        mode: "0600"

    - name: Including interfaces config...
      ansible.builtin.include_vars:
        file: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_interfaces.yml

    - name: Configuring following pfSense interfaces for {{ inventory_hostname }}...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/interfaces
        pretty_print: true
        add_children: "{{ pfsense_interfaces }}"

    - name: Configuring egress interface gateways for {{ inventory_hostname }}...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/gateways
        pretty_print: true
        add_children: "{{ pfsense_gateways }}"

    - name: Configuring following DNS server for {{ inventory_hostname }}...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/system
        pretty_print: true
        add_children:
          - dnsserver: "{{ item }}"
      loop: "{{ dns_server_combined }}"

    - name: Enabling {{ inventory_hostname }} configured DNS servers...
      community.general.xml:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        xpath: /pfsense/system/dnslocalhost
        pretty_print: true
        value: remote

    - name: Adding WAN Anti-Lockout Rule for WAN interface...
      when: interfaces | selectattr('egress', 'equalto', true) | first == interfaces | selectattr('connection', 'equalto', true) | first
      block:
        - name: Deleting existing WAN Anti-Lockout Rule...
          community.general.xml:
            path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
            xpath: /pfsense/filter/rule[@descr='WAN Anti-Lockout Rule']
            state: absent

        - name: Adding WAN Anti-Lockout Rule for {{ inventory_hostname }}...
          community.general.xml:
            path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
            xpath: /pfsense/filter
            pretty_print: true
            add_children:
              - rule:
                  _:
                    - id:
                    - type: pass
                    - interface: wan
                    - ipprotocol: inet46
                    - statetype: keep state
                    - source:
                        _:
                          - any:
                    - destination:
                        _:
                          - any:
                    - descr: WAN Anti-Lockout Rule

    - name: Getting /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml file info...
      ansible.builtin.stat:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
      register: file_size

    - name: Preparing /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml file upload...
      ansible.builtin.uri:
        url: https://{{ vmware_defaults.hostname }}/api/vcenter/vm/{{ configure_networking_vsphere_vm_id }}/guest/filesystem?action=create
        method: POST
        headers:
          vmware-api-session-id: "{{ vcenter_session_api_key.json }}"
        body:
          credentials: "{{ rest_api_credentials }}"
          spec:
            attributes:
              overwrite: true
              size: "{{ file_size.stat.size }}"
            path: /conf/config.xml
        status_code: 201
        body_format: json
        validate_certs: "{{ vmware_defaults.validate_certs }}"
      register: file_upload_prep

    - name: Uploading /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml file...
      ansible.builtin.uri:
        url: "{{ file_upload_prep.json }}"
        method: PUT
        headers:
          vmware-api-session-id: "{{ vcenter_session_api_key.json }}"
        src: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        status_code: 200
        body_format: json
        validate_certs: "{{ vmware_defaults.validate_certs }}"

    - name: Removing local config.xml file...
      ansible.builtin.file:
        path: /tmp/{{ project_fullname | default('') }}_{{ inventory_hostname }}_pfsense_config.xml
        state: absent

    # This is required fo Vmware console correct interfaces and for pfSense web interface to work
    - name: Restarting {{ custom_vm_name | default(vm_name) }} VM...
      ansible.builtin.include_role:
        name: nova.core.powerstate
      vars:
        restart: true
