---
- name: Setting OS as fact...
  ansible.builtin.set_fact:
    configure_networking_os: "{{ (vcenter_vm_info.instance.advanced_settings['guestInfo.detailed.data']).split('prettyName=')[1] }}"

- name: Including legacy VyOS network configuration tasks...
  ansible.builtin.include_tasks: vyos_legacy.yml
  when: configure_networking_os is search('rolling')

- name: Including VyOS network configuration tasks...
  ansible.builtin.include_tasks: vyos_stream.yml
  when: configure_networking_os is search('stream')
