---
# Not all distributions use GRUB bootloader, so we need to check if it's installed
- name: Checking if GRUB is installed...
  ansible.builtin.stat:
    path: /etc/default/grub
  register: grub_installed

- name: Configuring GRUB...
  when: grub_installed.stat.exists
  block:
    - name: Setting GRUB timeout to 3 seconds...
      ansible.builtin.lineinfile:
        path: /etc/default/grub
        regexp: ^GRUB_TIMEOUT=
        line: GRUB_TIMEOUT=3

    - name: Applying GRUB configuration...
      ansible.builtin.command: update-grub
      changed_when: true
      when: ansible_facts.os_family == "Debian"

    - name: Applying GRUB configuration...
      ansible.builtin.command: grub2-mkconfig -o /boot/grub2/grub.cfg
      changed_when: true
      when: ansible_facts.os_family == "RedHat"

    - name: Applying GRUB configuration...
      ansible.builtin.command: grub-mkconfig -o /boot/grub/grub.cfg
      changed_when: true
      when: ansible_facts.os_family == 'Archlinux'
