---
- name: Including nova.core.customization_pre_vm_role role...
  ansible.builtin.include_role:
    name: nova.core.customization_pre_vm_role

- name: Including vSphere specific configuration tasks...
  ansible.builtin.include_tasks: vsphere.yml
  when: infra_env == "vsphere"

- name: Including updates role...
  ansible.builtin.include_role:
    name: nova.core.updates
  when: update_system

# To reboot the machine after updates if required and avoid future issues
- name: Flush handlers...
  ansible.builtin.meta: flush_handlers

- name: Configuring non-Network OS...
  when:
    - ansible_network_os is not defined
  block:
    - name: Configure Windows machine
      ansible.builtin.include_tasks: windows.yml
      when: ansible_system == "Win32NT"

    - name: Including Unix configuration tasks...
      ansible.builtin.include_tasks: unix.yml
      when:
        - ansible_system in ["Linux", "FreeBSD"]

- name: Configure RouterOS machine
  ansible.builtin.include_tasks: routeros.yml
  when:
    - ansible_network_os is defined
    - ansible_network_os == "community.routeros.routeros"

- name: Configure OPNsense machine
  ansible.builtin.include_tasks: opnsense.yml
  when:
    - ansible_network_os is defined
    - ansible_network_os == "opnsense"

- name: Including following role...
  ansible.builtin.include_role:
    name: "{{ item }}"
  loop:
    - nova.core.customization # Customize should be after updates in case updates revert some configs
    - nova.core.customization_post_vm_role
    - nova.core.finalize
    - nova.core.cleanup

- name: Including sysprep role...
  ansible.builtin.include_role:
    name: nova.core.win_sysprep
  when:
    - ansible_network_os is not defined
    - sysprep
    - ansible_system == "Win32NT"

- name: Including powerstate role...
  ansible.builtin.include_role:
    name: nova.core.powerstate
  vars:
    shutdown: true
  # Because sysprep will shut down the machine when it's done
  # On Proxmox the clean-snap does not shut down the VM, so we need another task
  when: not sysprep or infra_env == "proxmox"

- name: Including snapshots role...
  ansible.builtin.include_role:
    name: nova.core.snapshots
  vars:
    snapshot_mode: clean-snap
    snapshot_name: LinkedCloneSource
    start_vm_after_snapshot: false

- name: Ending play for templates...
  ansible.builtin.meta: end_host
