---
- name: Turning off unnecessary services...
  community.routeros.command:
    commands:
      - /ip cloud set ddns-enabled=no update-time=no
      - :exec {/ip firewall service-port set [find] disabled=yes}
      - /ip service set api,api-ssl,ftp,telnet,www disabled=yes
      - /system clock set time-zone-autodetect=no time-zone-name=UTC
      - /system watchdog set automatic-supout=no auto-send-supout=no
      - /tool bandwidth-server set enabled=no
      - /tool mac-server set allowed-interface-list=none
      - /tool mac-server ping set enabled=no

- name: Enabling necessary services...
  community.routeros.command:
    commands:
      - /system package enable ipv6

# Required after enabling packages
# Using async and next 2 tasks to avoid timeout and connection closed errors because community.routeros does not have a reboot module
- name: Rebooting...
  community.routeros.command:
    commands:
      - :exec {:delay 3; /system reboot}
  async: 0
  poll: 0

- name: Resetting connection for {{ inventory_hostname }}...
  ansible.builtin.meta: reset_connection

- name: Waiting until ssh is down for {{ inventory_hostname }}...
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: 22
    state: stopped
    timeout: 300
  delegate_to: localhost
  become: false

- name: Waiting until reboot is done for {{ inventory_hostname }}...
  community.routeros.command:
    commands: /system/clock print
  register: reboot_state
  until: reboot_state is succeeded
  retries: 60
  delay: 3

- name: Allowing ND, L2-winbox on ADMIN interfaces only...
  community.routeros.command:
    commands:
      - /ipv6 nd set [find] disabled=yes
      - /interface list add name=ADMIN
      - /ip neighbor discovery-settings set discover-interface-list=ADMIN
      - /tool mac-server mac-winbox set allowed-interface-list=ADMIN

- name: Hardening services...
  community.routeros.command:
    commands:
      - /ip settings set rp-filter=strict
      - /ip ssh set always-allow-password-login=yes strong-crypto=yes

- name: Removing unnecessary default group permissions for RouterOS 6...
  community.routeros.command:
    commands:
      - /user group set full policy="local,telnet,ssh,ftp,reboot,read,write,policy,test,winbox,password,sniff,sensitive,!web,!api,!romon,!dude,!tikapp"
      - /user group set read policy="!local,!telnet,!ssh,!ftp,!reboot,!read,!write,!policy,!test,!winbox,!
        password,!web,!sniff,!sensitive,!api,!romon,!dude,!tikapp"
      - /user group set write policy="!local,!telnet,!ssh,!ftp,!reboot,!read,!write,!policy,!test,!winbox,!
        password,!web,!sniff,!sensitive,!api,!romon,!dude,!tikapp"
  when: ansible_facts.net_version.startswith('6')

- name: Removing unnecessary default group permissions for RouterOS 7...
  community.routeros.command:
    commands:
      - /user group set full policy="local,telnet,ssh,ftp,reboot,read,write,policy,test,winbox,password,sniff,sensitive,!web,!api,!romon,!rest-api"
      - /user group set read policy="!local,!telnet,!ssh,!ftp,!reboot,!read,!write,!policy,!test,!winbox,!
        password,!web,!sniff,!sensitive,!api,!romon,!rest-api"
      - /user group set write policy="!local,!telnet,!ssh,!ftp,!reboot,!read,!write,!policy,!test,!winbox,!
        password,!web,!sniff,!sensitive,!api,!romon,!rest-api"
  when: ansible_facts.net_version.startswith('7')

- name: Disabling or uninstalling unnecessary packages...
  community.routeros.command:
    commands:
      - /system package disable advanced-tools,hotspot,mpls,ppp,routing,ups,wireless
      - /system package uninstall dude

- name: Cleaning up RouterOS...
  community.routeros.command:
    commands:
      - /system note set show-at-login=no
      - /file remove [find]
      - /console clear-history
