---
- name: Including VMTools role...
  ansible.builtin.include_role:
    name: nova.core.vcenter_vmtools_policy

- name: Removing extra cdroms...
  when: template_os_configuration_remove_extra_cdroms_on_vsphere
  delegate_to: localhost
  become: false
  block:
    - name: Looking up the {{ custom_vm_name | default(vm_name) }} VM...
      vmware.vmware.guest_info:
        guest_name: "{{ custom_vm_name | default(vm_name) }}"
      register: vcenter_vm_info
      delegate_to: localhost
      become: false

    - name: Listing all {{ custom_vm_name | default(vm_name) }} cdroms...
      vmware.vmware_rest.vcenter_vm_hardware_cdrom_info:
        vm: "{{ vcenter_vm_info.guests[0].moid }}"
      register: existing_cdroms
      until: not existing_cdroms.failed
      retries: 5
      delay: 2

    - name: Removing extra cdroms if they exist...
      when: existing_cdroms.value | length > 1
      block:
        - name: Shutting down {{ custom_vm_name | default(vm_name) }} VM...
          ansible.builtin.include_role:
            name: nova.core.powerstate
          vars:
            shutdown: true

        - name: Removing following cdroms...
          vmware.vmware_rest.vcenter_vm_hardware_cdrom:
            vm: "{{ vcenter_vm_info.guests[0].moid }}"
            cdrom: "{{ item.cdrom }}"
            state: absent
          loop: "{{ existing_cdroms.value[1:] }}"
          register: removed_cdroms
          until: not removed_cdroms.failed
          retries: 5
          delay: 2

        - name: Starting {{ custom_vm_name | default(vm_name) }} VM...
          ansible.builtin.include_role:
            name: nova.core.powerstate
          vars:
            poweron: true
