---
- name: Including VMTools role...
  ansible.builtin.include_role:
    name: nova.core.vcenter_vmtools_policy

- name: Removing extra cdroms...
  when: template_os_configuration_remove_extra_cdroms_on_vsphere
  delegate_to: localhost
  become: false
  block:
    - name: Keeping only one cdrom for {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware.vm:
        name: "{{ custom_vm_name | default(vm_name) }}"
        cdroms:
          - device_node: IDE(0:0)

  rescue:
    - name: Shutting down {{ custom_vm_name | default(vm_name) }} VM...
      ansible.builtin.include_role:
        name: nova.core.powerstate
      vars:
        shutdown: true

    - name: Keeping only one cdrom for {{ custom_vm_name | default(vm_name) }}...
      vmware.vmware.vm:
        name: "{{ custom_vm_name | default(vm_name) }}"
        cdroms:
          - device_node: IDE(0:0)

    - name: Starting {{ custom_vm_name | default(vm_name) }} VM...
      ansible.builtin.include_role:
        name: nova.core.powerstate
      vars:
        poweron: true
