---
- name: Creating {{ post_scripts_folder_on_target }} folder...
  ansible.windows.win_file:
    path: "{{ post_scripts_folder_on_target }}"
    state: directory
  when:
    - ansible_facts.system is defined
    - ansible_facts.system == "Win32NT"

- name: Including {{ single_role if single_role is defined else omit }} role...
  ansible.builtin.include_role:
    name: "{{ single_role }}"

- name: Flushing handlers...
  ansible.builtin.meta: flush_handlers

- name: Including get_ip role...
  ansible.builtin.include_role:
    name: nova.core.get_ip

- name: Ending play...
  ansible.builtin.meta: end_host
