---
- name: IMMUTABLE
  ansible.builtin.fail:
    msg: "{{ inventory_hostname }} Has immutable variable or group set and won't be configured"
  when:
    - immutable or ['immutable', 'custom_immutable'] | intersect(group_names) | length > 0
    - single_role | default(false) not in ['nova.core.connection'] # Allowing non-invasive supporting single_roles to run even with immutable set
    - pre_role | default(false) not in ['nova.core.get_ip'] # Allowing non-invasive supporting pre_roles to run even with immutable set

- name: Including following post-deploy_vars roles...
  ansible.builtin.include_role:
    name: "{{ item }}"
  loop: "{{ deploy_vars_post_roles }}"
  when: deploy_vars_post_roles != []

- name: Using {{ deploy_vars_vault_auth_method | upper }} to get auth token for {{ vault_address }}...
  community.hashi_vault.vault_login:
    url: "{{ vault_address }}"
    auth_method: "{{ deploy_vars_vault_auth_method }}"
    token: "{{ deploy_vars_vault_root_token if deploy_vars_vault_auth_method == 'token' else omit }}"
    username: "{{ vault_username }}"
    password: "{{ vault_password }}"
    mount_point: "{{ deploy_vars_vault_mount_point }}"
    validate_certs: "{{ validate_vault_certs }}"
    ca_cert: "{{ vault_ca_cert }}"
  register: deploy_vars_vault_token
  delegate_to: localhost
  become: false
  changed_when: false # It only does a web request to get a token so no need to mark as changed
  when:
    - vault_address != {}
    - deploy_vars_get_vault_token | bool # | bool is required to pass the variable from the command line
    - pre_role is not defined or deploy_vars_get_vault_token_with_pre_role | bool
# # Uncomment to debug variables
# - ansible.builtin.debug: msg="{{  }}"
# - meta: end_play
