---
- name: Checking if the pre_vm_role folder exists and including the role...
  when: customization_context == "host" # Alternative is container that most likely doesn't need this role
  block:
    - name: Checking if the pre_vm_role folder exists...
      ansible.builtin.stat:
        path: "{{ inventory_dir }}/roles/{{ pre_vm_role_name }}"
      register: pre_vm_role_existence
      become: false
      delegate_to: localhost

    - name: Starting pre-vm role customization...
      ansible.builtin.include_role:
        name: "{{ inventory_dir }}/roles/{{ pre_vm_role_name }}"
      when: pre_vm_role_existence.stat.exists
