---
outline_version: 1.4.0
outline_postgres_version: 17.7 # POSTGRES_VERSION_TAG

# Pre-generated secret key for Outline
outline_secret_key: {}

# Pre-generated utils secret key for Outline
outline_utils_secret_key: {}

# Pre-generated Postgres password for Outline
postgres_password: {}

# Container images
app_container_image: outlinewiki/outline:{{ outline_version }}
db_container_image: postgres:{{ outline_postgres_version }}
redis_container_image: redis:latest

# Container names
app_container_name: outline
db_container_name: outline_postgres
redis_container_name: outline_redis

# Folder paths
app_container_folder: /srv/outline
db_container_folder: "{{ app_container_folder }}/outline_postgres"
outline_local_file_storage_folder: "{{ app_container_folder }}/local_file_storage"
redis_container_folder: "{{ app_container_folder }}/outline_redis"

# Usually comes from nova.core.docker role
outline_docker_network: local-network

# Application settings
outline_url: https://{{ fqdn }}

# DB defaults
postgres_user: outline_app
postgres_db: outline

# Node defaults
node_env: production
node_extra_ca_certs: /etc/ssl/certs/ca-certificates.crt
node_tls_reject_unauthorized: 1

database_url: postgres://{{ postgres_user }}:{{ postgres_password }}@{{ db_container_name }}:5432/{{ postgres_db }}
redis_url: redis://{{ redis_container_name }}:6379

# Import
outline_maximum_import_size: 512000000

# Limits
outline_rate_limiter_enabled: "true"
outline_rate_limiter_requests: 300000
outline_rate_limiter_duration_window: 60
outline_file_storage_upload_max_size: 2621440000

# OIDC defaults
outline_oidc_username_claim: preferred_username
outline_oidc_display_name: OIDC provider
outline_oidc_scopes:
  - email
  - openid
  - profile
