---
- name: Checking for required variables...
  ansible.builtin.fail:
    msg: |
      Following variables are required to run this role:
      - proxmox_api_user
      - proxmox_api_token_id
      - proxmox_api_token_secret
  when: >
    proxmox_defaults.api_user is ansible.builtin.falsy
    or proxmox_defaults.api_token_id is ansible.builtin.falsy
    or proxmox_defaults.api_token_secret is ansible.builtin.falsy

- name: Checking if {{ custom_vm_name | default(vm_name) }} exists...
  community.proxmox.proxmox_vm_info:
    name: "{{ custom_vm_name | default(vm_name) }}"
  delegate_to: localhost
  become: false
  register: proxmox_vm_exists
  until: proxmox_vm_exists is not failed
  retries: 5
  delay: 3

- name: Setting fresh_deploy fact...
  ansible.builtin.set_fact:
    fresh_deploy: true
  when: proxmox_vm_exists.proxmox_vms == [] or deploy_mode == "redeploy"

- name: Including {{ custom_vm_name | default(vm_name) }} removal tasks...
  ansible.builtin.include_tasks: remove.yml
  when: deploy_mode in ['undeploy', 'redeploy']

- name: Including {{ custom_vm_name | default(vm_name) }} creation tasks...
  ansible.builtin.include_tasks: create.yml
  when:
    - not role_only
    - not role_only_wp
    - single_role is not defined
