---
- name: Setting correct connection parameters for VMware Workstation...
  ansible.builtin.set_fact:
    ansible_become: false
    ansible_connection: "{{ snapshots_vmware_workstation_connection }}"
    ansible_host: "{{ snapshots_vmware_workstation_host }}"
    ansible_python_interpreter: "{{ snapshots_vmware_workstation_python_interpreter }}"
    ansible_shell_type: "{{ snapshots_vmware_workstation_shell_type }}"
    ansible_user: "{{ snapshots_vmware_workstation_user }}"

- name: Listing all snapshots...
  ansible.builtin.shell: vmcli snapshot query {{ snapshots_local_vmx_path }}
  register: all_snapshots

- name: Including snapshot task...
  ansible.builtin.include_tasks: snapshot.yml
  when: snapshot_mode == 'snap' or snapshot_mode == 'clean-snap'

- name: Including revert task...
  ansible.builtin.include_tasks: revert.yml
  when: snapshot_mode == 'revert'
