---
# The Keycloak version and the Keycloak Config CLI version should be compatible
keycloak_version: 26.4.5

# https://github.com/adorsys/keycloak-config-cli
# https://hub.docker.com/r/adorsys/keycloak-config-cli/tags
keycloak_config_cli_version: 6.4.0-26

keycloak_postgres_version: 15
keycloak_container_config_folder: /srv/keycloak
keycloak_docker_network: local-network # Comes from nova.core.docker
keycloak_proxy_container_name: {} # Define as role variable to restart the proxy container after Keycloak configuration

keycloak_admin_user: admin
keycloak_admin_password: {} # Define as role variable (Vault lookup for a an example)
keycloak_postgres_db_password: {} # Define as role variable (Vault lookup for a an example)
keycloak_proxy_headers: xforwarded # Refer to https://www.keycloak.org/server/reverseproxy based on your reverse proxy configuration
keycloak_config_timeout_seconds: 120 # Timeout for Keycloak Config CLI to wait for Keycloak to become available
