---
infra_env: {}

# If true then either defined_become_password needs to be defined or ansible_deployer_username needs to be able to use it's ansible_deployer_password for sudo
sudo_requires_password: true
connection_no_password: false # Set this to true if you are using SSH keys and do not want to use ansible_deployer_password for connection (example Ciso IOS)

# By default MacOS does not have Python installed so it cannot use ansible.builtin.wait_for_connection
macos_has_python: false

# Deploy methods
role_only: false # Includes customization role and then stops, great for developing roles
role_only_wp: false # Run the deploy starting from customization_pre_vm_role

# Misc
connection_connect: false # Can be used to include the connect role that will connect to the inventory_hostname
