---
- name: Setting correct connection parameters for VMware Workstation...
  ansible.builtin.set_fact:
    ansible_become: false
    ansible_connection: "{{ powerstate_vmware_workstation_connection }}"
    ansible_host: "{{ powerstate_vmware_workstation_host }}"
    ansible_python_interpreter: "{{ powerstate_vmware_workstation_python_interpreter }}"
    ansible_shell_type: "{{ powerstate_vmware_workstation_shell_type }}"
    ansible_user: "{{ powerstate_vmware_workstation_user }}"

- name: Starting VM...
  ansible.builtin.include_tasks: poweron.yml
  when: poweron

- name: Restarting VM...
  ansible.builtin.include_tasks: restart.yml
  when: restart

- name: Resetting VM...
  ansible.builtin.include_tasks: reset.yml
  when: reset

- name: Shutting down VM...
  ansible.builtin.include_tasks: shutdown.yml
  when: shutdown

- name: Powering off VM...
  ansible.builtin.include_tasks: poweroff.yml
  when: poweroff
