---
skip_network_configuration: false # Skip network configuration tasks
fresh_deploy: false
interfaces: []

#######
# DNS #
#######

# list of DNS search domains to add to /etc/resolv.conf
dns_search: []

# list of IPv4 DNS servers to be used by the system
dns_servers: []

# list of IPv6 DNS servers to be used by the system
dns_servers6: []

# Combined list of all DNS servers that will be used in cases where supported. In other the IPv4 and IPv6 lists are used separately.
dns_server_combined: "{{ dns_servers + dns_servers6 }}"

# list of options to add to /etc/resolv.conf
resolv_options: []

#######
# NTP #
#######

ntp_servers:
  - "0.pool.ntp.org"
  - "1.pool.ntp.org"

########
# Misc #
########

# Extra routes to add per interface when using netplan. Refer to role readme for examples
extra_routes: []

# PanOS specific defaults, since only 2 DNS or NTP servers are supported
configure_networking_panos_enable_ipv6: true # Enable IPv6 on configured interfaces
configure_networking_panos_primary_dns_server: "{{ dns_servers[0] }}"
configure_networking_panos_secondary_dns_server: "{{ dns_servers6[0] | default(dns_servers[0]) }}"
configure_networking_panos_primary_ntp_server: "{{ ntp_servers[0] }}"
configure_networking_panos_secondary_ntp_server: "{{ ntp_servers[1] | default(ntp_servers[0]) }}"

# List of roles to include before starting the networking configuration tasks
configure_networking_pre_roles: []

# List of roles to include after finishing the networking configuration tasks
configure_networking_post_roles: []

# Can be used as a CLI var to re-run the network configuration part.
# Does not work on VMware when sudo password is required because of vmware_tools plugin limitations
reconfigure_network: false

# Timeout in seconds to wait for network configuration commands to complete over the guest agent like VMware Tools, Qemu Guest Agent, etc.
configure_networking_command_wait_timeout: 60

##########
# VMWare #
##########

# VMWare REST API defaults
# Using this method allows not defining password key in accounts lists
# Otherwise the Vault lookup will fail even if not used
admin_account_password: >-
  {%- if save_secrets_to_vault and admin_accounts | selectattr('username', 'equalto', admin_account)
    | map(attribute='save_password_to_vault') | first | default(true) -%}
  {{ lookup('community.hashi_vault.hashi_vault',
     vault_lookup_fragment + 'secret=' +
     (secrets_vault_engine_path | default(environment_name)) +
     '/data/' +
     (secrets_vault_secrets_path | default(project_fullname)) +
     ':' + inventory_hostname + '_' + admin_account) }}
  {%- else -%}
  {{ predefined_admin_account_password | default('admin_password_undefined') }}
  {%- endif -%}

rest_api_credentials:
  interactive_session: false
  type: USERNAME_PASSWORD
  user_name: "{{ template_username if fresh_deploy or configure_networking_use_template_credentials | bool else admin_account }}"
  password: "{{ template_password if fresh_deploy or configure_networking_use_template_credentials | bool else admin_account_password }}"

# Useful for debugging or for building networking support for new OSes
# By default uses the logic defined above to determine whether to use template credentials or not
# This variable is specific to hypervisors that use guest credentials for network configuration like VMWare
configure_networking_use_template_credentials: false

# Time in seconds to wait for the Alpine VM to boot before sending networking configuration commands
configure_networking_alpine_boot_wait_time: 60

# Time in seconds to wait for the PanOS VM to boot before sending networking configuration commands
configure_networking_panos_boot_wait_time: 60
