---
# These tasks are required so each account has a pre-defined or random generated password.
# This will allow to create accounts on the target host without any issues.
# Following use-cases are supported:
# - Accounts with pre-defined passwords
# - Accounts with random generated passwords that are saved and looked up from HashiCorp Vault
# - Accounts with random generated passwords when passwordless sudo or similar is used (Unix only)

# Checking if the host is a Samba Domain controller...
- name: Checking if samba-ad-dc service exists...
  when: ansible_facts.system | default('') in ["FreeBSD", "Linux"]
  block:
    - name: Checking if samba-ad-dc service exists...
      ansible.builtin.stat:
        path: /usr/lib/systemd/system/samba-ad-dc.service
      changed_when: false
      register: samba_ad_dc_service_exists

    - name: Setting samba_primary_domain_controller fact...
      ansible.builtin.set_fact:
        samba_primary_domain_controller: true
      when: samba_ad_dc_service_exists.stat.exists

- name: Initialize account lists to empty arrays
  ansible.builtin.set_fact:
    user_accounts_with_password: []
    admin_accounts_with_password: []
    domain_users_with_password: []

- name: Adding a password key for following local accounts...
  ansible.builtin.set_fact:
    user_accounts_with_password: "{{ user_accounts_with_password + [item_with_password] }}"
  vars:
    item_with_password: >-
      {%- if item.password is not defined or item.password | regex_search('.*__omit_place_holder__.*') -%}
      {{ item | combine({'password': pregenerated_password}) }}{%- else -%}
      {{ item }}{%- endif -%}
  loop: "{{ user_accounts }}"
  loop_control:
    label: "{{ item.username }}"

- name: Adding a password key for following admin accounts...
  ansible.builtin.set_fact:
    admin_accounts_with_password: "{{ admin_accounts_with_password + [item_with_password] }}"
  vars:
    item_with_password: >-
      {%- if item.password is not defined or item.password | regex_search('.*__omit_place_holder__.*') -%}
      {{ item | combine({'password': pregenerated_password}) }}{%- else -%}
      {{ item }}{%- endif -%}
  loop: "{{ admin_accounts }}"
  loop_control:
    label: "{{ item.username }}"

- name: Generating domain users and OUs lists...
  when:
    ansible_facts.windows_domain_role | default('') == "Primary domain controller"
    or samba_primary_domain_controller | default(false)
  block:
    - name: Adding a password key for following domain accounts...
      ansible.builtin.set_fact:
        domain_users_with_password: "{{ domain_users_with_password + [item_with_password] }}"
      vars:
        item_with_password: >-
          {%- if item.password is not defined or item.password | regex_search('.*__omit_place_holder__.*') -%}
          {{ item | combine({'password': pregenerated_password}) }}{%- else -%}
          {{ item }}{%- endif -%}
      loop: "{{ domain_user_accounts }}"
      loop_control:
        label: "{{ item.username }}"

    # This is done so the OU list to be created is based on length
    # It's required so parent OUs are created before child OUs
    - name: Building a list of OUs to be created...
      ansible.builtin.set_fact:
        accounts_ou_list: "{{ (lookup('ansible.builtin.template', 'generate_ou_list.yml') | from_yaml) | unique | sort(attribute='length') }}"

- name: Creating combined users lists...
  ansible.builtin.set_fact:
    accounts: "{{ admin_accounts_with_password + domain_users_with_password + user_accounts_with_password }}"
    domain_accounts_with_password: "{{ domain_users_with_password + admin_accounts_with_password }}"
    local_accounts_with_password: "{{ user_accounts_with_password + admin_accounts_with_password }}"
