---
- name: MISSING REQUIRED VARIABLE(S)
  ansible.builtin.fail:
    msg: |
      The ansible_deployer_password variable or admin_accounts list is required.
      If you don't want to configure admin (root/Administrator/etc.) accounts machine you can just define an empty list - admin_accounts: []
      Refer to the {{ role_path }}/README.md for examples.
  when:
    - ansible_deployer_password | default(false) is ansible.builtin.falsy
    - admin_accounts is not defined

- name: Including following accounts pre-roles...
  ansible.builtin.include_role:
    name: "{{ account_pre_role }}"
  loop: "{{ accounts_pre_roles }}"
  loop_control:
    loop_var: account_pre_role
  when: accounts_pre_roles != []

- name: Including accounts configuration tasks block for non-containers...
  when:
    - customization_context == "host" # Alternative is container that doesn't need this role
    - infra_env != "my_host" # my_host is computer where you run the play from
  block:
    - name: Including accounts lists creation tasks...
      ansible.builtin.include_tasks: create_accounts_lists.yml

    # Accounts creation tasks
    - name: Creation accounts for non-Network OS accounts...
      when: ansible_network_os is not defined
      block:
        - name: Including Windows accounts creation tasks...
          ansible.builtin.include_tasks: windows_create.yml
          when: ansible_facts.system | default('') == 'Win32NT'

        - name: Including Unix accounts creation tasks...
          ansible.builtin.include_tasks: unix_create.yml
          when: ansible_facts.system | default('') in ["FreeBSD", "Linux"]

        # macos_has_python is a MacOS specific OS group var to indicate if Python is installed
        # In this instance it can be used to determine if we should run MacOS specific tasks for Pythonless MacOS systems
        - name: Including MacOS accounts creation tasks...
          ansible.builtin.include_tasks: macos_create.yml
          when: ansible_facts.system | default('') == "Darwin"
            or not macos_has_python | default(true)

    - name: Configuring Network OS accounts...
      when: ansible_network_os is defined
      block:
        - name: Configure RouterOS accounts...
          ansible.builtin.include_tasks: routeros.yml
          when: ansible_network_os | default('') == 'community.routeros.routeros'

        - name: Configure VyOS accounts...
          ansible.builtin.include_tasks: vyos.yml
          when: ansible_network_os | default('') == 'vyos.vyos.vyos'

        - name: Configure Cisco-IOS accounts...
          ansible.builtin.include_tasks: ios.yml
          when: ansible_network_os | default('') == 'cisco.ios.ios'

        - name: Configure pfSense accounts...
          ansible.builtin.include_tasks: pfsense.yml
          when: ansible_network_os | default('') == 'pfsense'

        - name: Configure OPNsense accounts...
          ansible.builtin.include_tasks: opnsense.yml
          when: ansible_network_os | default('') == 'opnsense'

        - name: Configure PanOS accounts...
          ansible.builtin.include_tasks: panos.yml
          when: ansible_network_os | default('') == 'panos'

    - name: Setting {{ ansible_deployer_username }} as connection user...
      ansible.builtin.set_fact:
        ansible_user: "{{ ansible_deployer_username }}"
        ansible_password: "{{ ansible_deployer_password | default(omit) }}" # Updated ansible_deployer_password

        # Setting custom or restoring default SSH key and connection parameters
        # This is mostly because initial connection parameters for cloud templates need to be customized to match specific VM template defaults
        ansible_ssh_private_key_file: "{{ accounts_custom_ansible_ssh_private_key_file | default(default_ansible_private_key_file) | default('') }}"
        ansible_ssh_extra_args: "{{ accounts_custom_ansible_ssh_extra_args | default(default_ansible_ssh_extra_args) | default('') }}"

    - name: Including gather_facts role... # Since the connection account changed and we need to gather facts with the new account
      ansible.builtin.include_role:
        name: nova.core.gather_facts

    # Accounts removal tasks
    # This will lookup all user profiles that are not in the accounts list and remove them
    # This needs to be done after the correct ansible_user is set as not to try to remove the user you are logged in as
    - name: Removing accounts from non-Network OS...
      when:
        - accounts_remove_stale
        - ansible_network_os is not defined
      block:
        - name: Including Unix accounts removal tasks...
          ansible.builtin.include_tasks: unix_remove.yml
          when: ansible_facts.system | default('') in ["FreeBSD", "Linux"]

        - name: Including Windows accounts removal tasks...
          ansible.builtin.include_tasks: windows_remove.yml
          when: ansible_facts.system | default('') == 'Win32NT'

        # macos_has_python is a MacOS specific OS group var to indicate if Python is installed
        # In this instance it can be used to determine if we should run MacOS specific tasks for Pythonless MacOS systems
        - name: Including MacOS accounts removal tasks...
          ansible.builtin.include_tasks: macos_remove.yml
          when: ansible_facts.system | default('') == "Darwin"
            or not macos_has_python | default(true)

    # Cloud temp keys removal
    - name: Removing {{ infra_env }} temp ssh key for {{ inventory_hostname }}...
      ansible.builtin.file:
        path: "{{ lookup('vars', 'machine_operations_' ~ infra_env ~ '_temp_ssh_key_path') | default('') }}"
        state: absent
      delegate_to: localhost
      become: false
      when: lookup('vars', 'machine_operations_' ~ infra_env ~ '_temp_ssh_key_path') is defined

- name: Including following accounts post-roles...
  ansible.builtin.include_role:
    name: "{{ account_post_role }}"
  loop: "{{ accounts_post_roles }}"
  loop_control:
    loop_var: account_post_role
  when: accounts_post_roles != []
