---
- name: Setting the correct sudo group for {{ ansible_distribution }}...
  ansible.builtin.set_fact:
    root_group: "{{ unix_distro_root_group_map[ansible_distribution] }}"

- name: Making sure the sudo group exists...
  ansible.builtin.group:
    name: "{{ root_group }}"
    state: present

- name: Creating accounts for...
  ansible.builtin.user:
    name: "{{ item.username }}"
    password: "{{ item.password | password_hash('sha512') }}"
    shell: "{{ item.shell | default(unix_distro_shell_map[ansible_distribution] | default('/bin/bash')) }}"
    groups: "{{ item.groups | default(root_group if item.username in admin_accounts | map(attribute='username') else 'users') }}"
    skeleton: "{{ unix_distro_skel_map[ansible_distribution] | default('/etc/skel') }}"
    uid: "{{ item.uid | default(omit) }}"
    createhome: true
    append: true
  register: created_account
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"

- name: Setting correct password for {{ ansible_deployer_username }}...
  ansible.builtin.set_fact:
    ansible_deployer_password: "{{ local_accounts_with_password
      | selectattr('username', 'equalto', ansible_deployer_username) | map(attribute='password') | first }}"

- name: Adding account creation source flag...
  ansible.builtin.lineinfile:
    dest: /home/{{ item.username }}/.created
    line: This account was created with {{ ansible_role_name }} role
    state: present
    create: true
    owner: "{{ item.username }}"
    mode: "0600"
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"
  when: item.username != admin_account # Cannot remove admin (usually root) account

- name: Adding authorized keys for...
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    state: present
    key: "{{ item.ssh_key }}"
    exclusive: "{{ item.ssh_key_exclusive | default(accounts_exclusive_ssh_key) }}"
    path: "{{ item.ssh_key_path | default(omit) }}"
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"
  when: item.ssh_key is defined

- name: Enabling password requirement for sudo...
  ansible.builtin.lineinfile:
    dest: "{{ unix_distro_sudoers_map[ansible_distribution] | default('/etc/sudoers') }}"
    state: present
    regexp: ^%{{ root_group }}
    line: "%{{ root_group }} ALL=(ALL:ALL) ALL"
    validate: visudo -cf %s
  when: sudo_requires_password

- name: Disabling password requirement for sudo...
  ansible.builtin.lineinfile:
    dest: "{{ unix_distro_sudoers_map[ansible_distribution] | default('/etc/sudoers') }}"
    state: present
    regexp: ^%{{ root_group }}
    line: "%{{ root_group }} ALL=(ALL) NOPASSWD: ALL"
    validate: visudo -cf %s
  when: not sudo_requires_password

- name: Enabling ssh-agent for sudo... # https://ethulhu.co.uk/yubikey
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/sudo
    regexp: auth sufficient pam_ssh_agent_auth.so.*
    line: auth sufficient pam_ssh_agent_auth.so file=~/.ssh/authorized_keys allow_user_owned_authorized_keys_file
    insertafter: .*%PAM-.*
    state: present
  when:
    - use_ssh_agent_for_sudo
    - ansible_system == 'Linux'
