---
- name: Setting the correct sudo group for {{ ansible_facts.distribution }}...
  ansible.builtin.set_fact:
    root_group: "{{ unix_distro_root_group_map[ansible_facts.distribution] }}"

- name: Making sure the sudo group exists...
  ansible.builtin.group:
    name: "{{ root_group }}"
    state: present

# This required so this role can clean up the default cloud users if they are not in the local_accounts_with_password list
- name: Adding source creation flag for default cloud account...
  when: lookup('vars', infra_env ~ '_template_username') | default('') not in [admin_account, '']
  block:
    - name: Checking if {{ lookup('vars', infra_env ~ '_template_username') | default('') }} user exists...
      ansible.builtin.stat:
        path: /home/{{ lookup('vars', infra_env ~ '_template_username') | default('') }}
      register: template_user

    - name: Adding account creation source flag for {{ lookup('vars', infra_env ~ '_template_username') | default('') }}...
      ansible.builtin.lineinfile:
        dest: /home/{{ lookup('vars', infra_env ~ '_template_username') | default('') }}/.created
        line: This account was created with {{ ansible_role_name }} role
        state: present
        create: true
        owner: "{{ lookup('vars', infra_env ~ '_template_username') | default('') }}"
        mode: "0600"
      when: template_user.stat.exists

- name: Creating accounts for...
  ansible.builtin.user:
    append: true
    createhome: true
    groups: "{{ item.groups | default(root_group if item.username in admin_accounts | map(attribute='username') else 'users') }}"
    name: "{{ item.username }}"
    password: "{{ item.password | password_hash('sha512') }}"
    shell: "{{ item.shell | default(unix_distro_shell_map[ansible_facts.distribution] | default('/bin/bash')) }}"
    skeleton: "{{ unix_distro_skel_map[ansible_facts.distribution] | default('/etc/skel') }}"
    uid: "{{ item.uid | default(omit) }}"
    update_password: "{{ item.update_password | default('always') }}" # always or on_create
  register: created_account
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"

- name: Setting correct password for {{ ansible_deployer_username }}...
  ansible.builtin.set_fact:
    ansible_deployer_password: "{{ local_accounts_with_password
      | selectattr('username', 'equalto', ansible_deployer_username) | map(attribute='password') | first }}"
  when: created_account.results | selectattr('changed', 'equalto', true) | map(attribute='item.username')
    | list | intersect([ansible_deployer_username]) | length > 0

- name: Adding account creation source flag...
  ansible.builtin.lineinfile:
    dest: /home/{{ item.username }}/.created
    line: This account was created with {{ ansible_role_name }} role
    state: present
    create: true
    owner: "{{ item.username }}"
    mode: "0600"
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"
  when: item.username != admin_account # Cannot remove admin (usually root) account

- name: Adding authorized keys for...
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    state: present
    key: "{{ item.ssh_key }}"
    exclusive: "{{ item.ssh_key_exclusive | default(accounts_exclusive_ssh_key) }}"
    path: "{{ item.ssh_key_path | default(omit) }}"
  loop: "{{ local_accounts_with_password }}"
  loop_control:
    label: "{{ item.username }}"
  when: item.ssh_key is defined

- name: Enabling password requirement for sudo...
  ansible.builtin.lineinfile:
    dest: "{{ unix_distro_sudoers_map[ansible_facts.distribution] | default('/etc/sudoers') }}"
    state: present
    regexp: ^%{{ root_group }}
    line: "%{{ root_group }} ALL=(ALL:ALL) ALL"
    validate: visudo -cf %s
  when: sudo_requires_password

- name: Disabling password requirement for sudo...
  ansible.builtin.lineinfile:
    dest: "{{ unix_distro_sudoers_map[ansible_facts.distribution] | default('/etc/sudoers') }}"
    state: present
    regexp: ^%{{ root_group }}
    line: "%{{ root_group }} ALL=(ALL) NOPASSWD: ALL"
    validate: visudo -cf %s
  when: not sudo_requires_password

- name: Enabling ssh-agent for sudo... # https://ethulhu.co.uk/yubikey
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/sudo
    regexp: auth sufficient pam_ssh_agent_auth.so.*
    line: auth sufficient pam_ssh_agent_auth.so file=~/.ssh/authorized_keys allow_user_owned_authorized_keys_file
    insertafter: .*%PAM-.*
    state: present
  when:
    - use_ssh_agent_for_sudo
    - ansible_facts.system == 'Linux'
    - ansible_facts.os_family != 'Alpine'
