---
name: Creating new tag & release
permissions:
  contents: write

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tag_and_release:
    runs-on: ubuntu-latest

    steps:
      - name: Cloning the repository repo...
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Creating a tag and a release
        run: |
          VERSION_FILE="nova/core/galaxy.yml"
          VERSION=$(cat $VERSION_FILE | grep "version:" | cut -d " " -f 2)

          CURRENT_TAG=$(git tag --sort=-creatordate | head -n 1)
          NEW_TAG="v$VERSION"

          # Tagging and pushing the change
          git tag $NEW_TAG
          git push origin $NEW_TAG

          # Creating temp changelog file
          echo "Getting commits between the current tag $CURRENT_TAG and the new tag $NEW_TAG"
          git log $CURRENT_TAG..$NEW_TAG --pretty=format:"- %s" > CHANGELOG.md

          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/$GITHUB_REPOSITORY/releases \
          -d "{
            \"name\": \"$NEW_TAG\",
            \"tag_name\": \"$NEW_TAG\",
            \"body\": $(jq -sR . < CHANGELOG.md)
          }"
